*{ margin:0px; padding:0px; font-family:微软雅黑; font-size:12px;} 
.Findtype{ width:494px; font-size:14px; margin:20px 0 20px 0; }
.Container{ width:494px; margin:0 auto; text-align:center;}
.Container .Tops{ background:url("http://dl.lepao.com/images/findpwd_guide.png"); width:100%; height:37px; }
.Container .Content{ width:100%; }
.Container .Content .rows{ width:347px; text-align:left; }
.Container .Content .row1{ margin-top:42px; }
.Container .Content .row2{ margin-top:10px; }
.Container .Content .mail-input{ padding:5px 0 5px 14px; border-radius:4px; border-top:3px solid #9b9b9b; border-left:2px solid #bfbfbf; border-right:2px solid #bfbfbf; border-bottom:1px solid #b6b6b6; width:325px; color:#b2b2b2; height:12px; line-height:20px;}
.Container .Content .nextBtn{ display:block; background:url("http://dl.lepao.com/images/findpwd_next.png"); width:167px; height:42px; margin:38px 0 30px 168px; }
.SendBox .Tops2{ background:url("http://dl.lepao.com/images/findpwd_guide2.png"); width:494px; height:37px; }
.SendBox{ width:494px; text-align:center; padding:30px 0 30px 0; margin:0 auto; display:none}
.SendBox .sendTips{ width:494px; margin-top:42px; }

/*公共部分*/
.color1{ color:#ff5f07; }
.color2{ color:#778968; }
.aDec{ text-decoration:underline; }
.fontBold{ font-weight:bold; }
.backBtn{ margin-top:65px; display:block; }
.errorMsg{padding:0 0 20px 0}
}