/*========================================================================
  base
========================================================================*/
html {
  min-width: 1000px;
  -webkit-text-size-adjust: 100%;
}

html.responsive {
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #333;
  font: 14px/1.5  "Hiragino Sans GB", "Microsoft Yahei",  "SimHei", sans-serif;
/*   -webkit-font-smoothing: antialiased; */
  text-rendering: optimizelegibility;
  _background-attachment: fixed;
  _background-image: url(about:blank);
}

body,
button,
input,
select,
textarea {
  color: #333;
  text-rendering: optimizeLegibility;
  font-family: tahoma, arial ,sans-serif;
}

@media only screen {
  body,
  button,
  input,
  select,
  textarea {
    font-family: "Hiragino Sans GB", "Microsoft Yahei", "SimHei", sans-serif;
  }
}

::-moz-selection {
  color: #163105;
  background: rgba(172, 229, 138, 0.4);
  text-shadow: none;
}

::selection {
  color: #163105;
  background: rgba(172, 229, 138, 0.4);
  text-shadow: none;
}

img {
  border: 0;
  vertical-align: middle;
}

a,
.link {
  color: #2fc8a9;
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: 500;
  line-height: 20px;
  
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1.2;
  color: #999999;
}

h1,
h2,
h3 {
  line-height: 38px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h1 small,
h2 small,
h3 small {
  font-size: 65%;
}

p {
  margin: 10px 0;
}

.danger {
  color: #a94442;
}

.muted {
  color: #999;
}
.offset-1clm{
  margin-left:10px; 
}
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
}

textarea {
  overflow: auto;
  vertical-align: top
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.white-text,
.white-text a {
  color: #fff;
  position: absolute;
}

.background{background:#eee;}/*美术优化*/

.page-container {
  width: 1000px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}

.responsive .page-container {
  width: auto;
  max-width: 1000px;
  margin: 20px auto 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.page-container:after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #ddd;
}

.page-header-new{
  width: 100%;/*美术优化*/
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #ddd;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-indent {
  text-indent: 2em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

li {
  line-height: 20px;
}

ul.unstyled,
ol.unstyled {
  margin: 0;
  list-style: none;
  padding: 0;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

/*========================================================================
  button
========================================================================*/
.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 14px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: sans-serif;
}

.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none
}

.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-lg {
  padding: 10px 18px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad
}

.primary-btn,
.btn-primary {
  color: #fff;
  background-color: #2FC8A9;
}

.primary-btn:hover,
.primary-btn:focus,
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #1daf91;
}

.btn-disabled {
  color: #999;
  background-color: #fafafa;
  border: 1px solid #ccc;
  cursor: default;
}

.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  color: #999;
  background: #fafafa;
  box-shadow: none;
}
.btn-block{
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
button.close {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

button.close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/*========================================================================
  alert
========================================================================*/
.alert {
  padding: 8px 14px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

span.alert {
  margin-left: 4px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7
}

.alert-danger h4, .alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  width: 78%;/*美术优化*/
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-dismissable {
  padding-right: 35px;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
}

/*========================================================================
  form
========================================================================*/
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.placeholder {
  color: #aaa;
}

.required-tag {
  color: #a94442;
}

.form-field {
 *zoom: 1; 
}

.form-field:after {
  content: "";
  display: table;
  clear: both;
}
label.label-filed{
  line-height: 1.5;
  vertical-align: middle;
}
.form-horizontal {
  padding-left: 100px;
}

.form-horizontal label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 5px 10px 0 -110px;
}

input.text-input,
textarea.text-input {
  width: 200px;
  border: 1px solid #ccc;
  color: #333;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 14px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input.text-input:focus,
textarea.text-input:focus {
  border-color: #2fc8a9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(138,216,91,0.5);
}
.form-inline .form-group{
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-group{
  *display: inline;
}
.form-inline .form-group input{
  margin-bottom: 0px;
}
input.captcha-input {
  width: 100px;
}

label.checkbox-row {
  display: block;
  margin-bottom: 10px;
  min-height: 20px;
  padding-left: 20px;
}

label.checkbox-row input.checkbox {
  float: left;
  margin-left: -20px;
  margin-top: 4px;
  margin-top: 1px \9;
  *margin-top: 0;
}

.radio, .checkbox {
  display: block;
  min-height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px
}

.radio label, .checkbox label {
  display: inline;
  font-weight: 400;
  cursor: pointer;
  float: none;
  text-align: left;
  margin: 0;
}

.radio input, .radio-inline input, .checkbox input,
.checkbox-inline input {
  float: left;
  margin-left: -20px;
  margin-top: 3px;
  margin-top: 1px \9;
  *margin-top: 0;
}

.has-error label {
  color: #a94442;
  font-weight: bold;
}

.has-error .text-input,input.has-error {
  border-color: #a94442;
}

.has-error .text-input:focus,input.has-error:focus{
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
}

/*
.radio+.radio, .checkbox+.checkbox {
  margin-top: -5px
}
*/

.radio-inline, .checkbox-inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer
}

/*
.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 10px
}
*/


select.select-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  height: 32px;
  color: #555;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 50px 0 8px;
  margin-right: 6px;
  margin-bottom: 14px;
  margin-top: 4px \9;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background: #fff url("../images/select_bg.jpg") no-repeat 100% 50%;
}

@media screen and (min--moz-device-pixel-ratio:0) {
  select.select-field {
    padding-top: 5px;
  }
}

select.select-field::-ms-expand {
  display: none;
}

select.select-field:focus {
  border-color: #2fc8a9;
}


/*========================================================================
  icons
========================================================================*/
.icon-qq, .icon-weibo {
  padding-top: 4px;
  padding-bottom: 4px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.icon-qq {
  padding-left: 24px;
  background-image: url("http://dl.lepao.com/images/icon_qq.png");
}

.icon-weibo {
  padding-left: 30px;
  background-image: url("http://dl.lepao.com/images/icon_weibo.png");
}

.icon-footer-qq {
  padding: 4px 0 4px 28px;
  background: url("http://dl.lepao.com/images/icon_footer_qq.png") no-repeat 0 50%;
}

/*========================================================================
  tab
========================================================================*/
ul.tab-nav,
ol.tab-nav {
  *zoom: 1;
}

ul.tab-nav:after,
ol.tab-nav:after {
  content: "";
  display: table;
  clear: both;
}

ul.tab-nav,
ol.tab-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tab-nav li,
ol.tab-nav li,
ul.tab-nav li a,
ol.tab-nav li a {
  float: left;
  display: inline;
}

/*========================================================================
  list group
========================================================================*/
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

a.list-group-item {
  color: #555555;
}

a.list-group-item .list-group-item-heading {
  color: #333333;
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}

a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #e1edf7;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}
.list-group-item span.icon{margin-left:-100px; }
/*========================================================================
  panel
========================================================================*/
.panel {
  margin-bottom: 18px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  overflow: hidden;
}

.panel .panel-body {
  padding: 15px;
  zoom: 1;
}

.panel .panel-body:before,
.panel .panel-body:after {
  content: " ";
  display: table;
}

.panel .panel-body:after {
  clear: both;
}

.panel-default .panel-body {
  background: #fafafa;
}

/*========================================================================
  details
========================================================================*/
.details {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 18px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  overflow: hidden;
}

.details .summary {
  padding: 10px 15px 10px 25px;
  border-bottom: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
/*   color: #2fc8a9; */
  background-color: #fafafa;
/*   background: #fafafa url("http://dl.lepao.com/images/grayarrowdown.gif") no-repeat 9px 50%; */
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.details.collapse .summary {
/*   background-image: url("http://dl.lepao.com/images/grayarrow.gif"); */
}

.details .summary:hover {
/*   text-decoration: underline; */
background-color: #eee;
}

.details .summary:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 15px;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.7em solid #777;
  
}

.details.collapse .summary:before {
  background-image: none;
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-left: 0.7em solid #777;
}

.details .details-content {
  padding: 15px 15px 15px 25px;
}
.details-content p{
  text-indent: 2em;
}

/*========================================================================
  well
========================================================================*/
.well {
  min-height: 20px;
  _height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.well > :last-child {
  margin-bottom: 0;
}


/*========================================================================
  dialog
========================================================================*/
.mask_layer {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
	background: #b2b2b2;
	background: rgba(0, 0, 0, 0.5);
}

#dialog {
  position: fixed;
  _position: absolute;
  z-index: 9999;
  width: 540px;
  left: 50%;
  top: 40%;
  margin-left: -270px;
  margin-top: -106px;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background: #fff;
}
/*animation slidedown*/
.animation-slidedown{
  -webkit-animation: slidedown 0.8s ease-in-out;
          animation: slidedown 0.8s ease-in-out;
}
@keyframes slidedown{
  0%{
    transform: translateY(-200%);
  }
  100%{
    transform: translateY(0%);
  }
}
@-webkit-keyframes slidedown{
  0%{
    -webkit-transform: translateY(-200%);
  }
  100%{
    -webkit-transform: translateY(0%);
  }
}

.animation-popup {
  -webkit-animation: popup 0.35s ease-in-out;
          animation: popup 0.35s ease-in-out;
}

@-webkit-keyframes popup {
	0% {
	  opacity:0;
	  -webkit-transform:scale3d(0.5, 0.5, 1);
  }
	45% {
	  -webkit-transform:scale3d(1.12, 1.12, 1);
  }
	80% {
	  opacity:1;
	  -webkit-transform:scale3d(0.9, 0.9, 1);
  }
	100% {
	  opacity:1;
	  -webkit-transform:scale3d(1, 1, 1);
  }
}

@keyframes popup {
	0% {
	  opacity:0;
	  transform:scale3d(0.5, 0.5, 1);
  }
	45% {
	  transform:scale3d(1.12, 1.12, 1);
  }
	80% {
	  opacity:1;
	  transform:scale3d(0.9, 0.9, 1);
  }
	100% {
	  opacity:1;
	  transform:scale3d(1, 1, 1);
  }
}

#dialog .dialog-header {
  min-height: 20px;
  _height: 20px;
  padding: 15px 20px 15px;
  border-bottom: 1px solid #e5e5e5;
  font: 18px/1.5;
}
#dialog .dialog-header.brand-head{
  background: #2FC8A9;
  border-radius: 6px 6px 0 0;
  color: #fff;
}

#dialog .dialog-header .dialog-title {
  margin: 0;
}

#dialog .dialog-header .close {
  margin-top: -2px;
}

#dialog .dialog-body {
  padding: 20px;
}

#dialog .dialog-body p {
  margin-bottom: 10px;
  font-size: 14px;
}

#dialog .dialog-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  border-top: 1px solid #e5e5e5;
}

#dialog .dialog-footer .btn {
  margin-left: 5px;
}

#dialog .dialog-footer .nagtive_btn {
  background: #fff;
  border-color: #ccc;
}

#dialog .dialog-footer .nagtive_btn:hover {
  background: #ebebeb;
  border-color: #adadad;
}

#dialog .dialog-footer .positive_btn {
  color: #fff;
  background: #74a051;
}

#dialog .dialog-footer .positive_btn:hover {
  background: #5e863e
}

/*========================================================================
  global header
========================================================================*/
#header_div {
  height: 77px;
}


#global-header {
  position: fixed;
  z-index: 5000;
  width: 100%;
  top: 0;
  font-size: 14px;
  background-color: #212121;
  -webkit-animation: nav-slide-in 0.5s both;
  _position: absolute;
  _top:expression(offsetParent.scrollTop);
  _left:expression(offsetParent.scrollLeft);
}

@-webkit-keyframes nav-slide-in {
  0% { -webkit-transform: translate(0, -80px); }
  100% { -webkit-transform: translate(0, 0); }
}

#global-header:nth-child(1n) {
  background-color: rgba(49, 49, 49, 0.9);
}

#global-header .global-header-inner {
  *zoom: 1;
  width: 1000px;
  margin: 0 auto; 
  padding: 10px 0;
}

#global-header .global-header-inner:after {
  content: "";
  display: table;
  clear: both;
}

#global-header a:hover {
  text-decoration: none;
}

#global-header .logo,
#global-header .logo h1 {
  float: left;
  width: 243px;
  height: 57px;
}

#global-header .logo {
  margin: 0;
}

#global-header .nav {
  float: left;
  margin: 25px 0 0 25px;
  padding-left: 0;
  display: inline;
  list-style: none;
}

#global-header .nav li {
  margin-right: 14px;
}

#global-header .nav li,
#global-header .nav li a {
  float: left;
  display: inline;
}

#global-header .nav li a {
  padding: 4px 2px;
}

#global-header .tel,
#global-header .my-order {
  float: left;
  display: inline;
  margin-top: 25px;
  line-height: 28px;
  padding-left: 30px;
  background-repeat: no-repeat;
}

#global-header .tel {
  color: #fff;
  margin-left: 15px;
  background-image: url("http://dl.lepao.com/images/icon_header_tel.png");
}

#global-header .my-order {
  margin-left: 10px;
  background-image: url("http://dl.lepao.com/images/icon_header_tick.png");
}

#global-header a {
  color: #b2b2b2;
}

#global-header a:hover,
#global-header a.current {
  color: #fff;
}

#global-header .nologin,
#global-header .islogin {
  float: right;
  display: inline;
  margin: 27px 0 0;
}

#global-header .nologin a,
#global-header .islogin a {
  padding: 3px;
  /*padding: 2px;*/
}

/*
#global-header .nologin a:hover,
#global-header .islogin a:hover {
  color: #beff1b;
}
*/

#loginout{
  position: relative;
  top: 1px;
  }/*美术优化*/

#global-header .islogin {
  display: none;
}

#global-header .islogin #account_name {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
  display: inline-block;
  text-align: right;
}

#global-header .nologin .separator {
  border-left: 1px solid #b2b2b2;
  margin: 2px 8px 0;
  height: 15px;
}

/*========================================================================
  global footer
========================================================================*/
#global-footer {
  color: #808080;
  line-height: 30px;
  padding: 30px 0 20px;
  margin-top: 30px;
  border-top: 1px solid #ddd;
  background: #fafafa;
}

#global-footer .inner {
  width: 1000px;
  margin: 0 auto;
}

#global-footer a {
  color: #808080;
}

#global-footer a:hover {
  color: #333;
  text-decoration: none;
}

#global-footer .links {
  width:770px;
  line-height: 15px;
  margin: 10px auto 20px;
}

#global-footer .company-info {
  font-size: 12px;
  text-align: center;
  padding: 10px 0 0;
}

#global-footer .footer-icon-heart,
#global-footer .footer-icon-briefcase,
#global-footer .footer-icon-news,
#global-footer .footer-icon-customer-service,
#global-footer .footer-icon-tel,
#global-footer .footer-icon-service1,
#global-footer .footer-icon-service2,
#global-footer .footer-icon-service3 {
  background-image: url("http://dl.lepao.com/images/footer_icon.png");
  background-repeat: no-repeat;
  padding-left: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#global-footer .footer-icon-heart,
#global-footer .footer-icon-news {
  display: inline-block;
  width: 100px;
  margin-right: 100px;
}

#global-footer .footer-icon-heart {
  background-position: 0 2px;
}

#global-footer .footer-icon-news {
  background-position: 0 -27px;
}


#global-footer .footer-icon-customer-service {
  background-position: 0 -58px;
  margin-right: 20px;
}

#global-footer .footer-icon-tel {
  background-position: 0 -88px;
  margin-right: 40px;
}

#global-footer .footer-icon-service1,
#global-footer .footer-icon-service2,
#global-footer .footer-icon-service3 {
  padding-left: 30px;
  margin-right: 30px;
}

#global-footer .footer-icon-service1 {
  background-position: 0 -120px;
}

#global-footer .footer-icon-service2 {
  background-position: 0 -150px;
}

#global-footer .footer-icon-service3 {
  background-position: 0 -180px;
}
#global-footer .footer-icon-briefcase {
  margin-right: 148px; 
  background-position: 0 -204px;
}
/*========================================================================
  login register panel
========================================================================*/
#sign-panel,#check-invoice-panel{
  display: none;
  position: fixed;
  _position: absolute;
  z-index: 200000;
  top: 50%;
  left: 50%;
  width: 600px;
  margin-left: -315px;
  margin-top: -165px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#sign-panel button.close,#check-invoice-panel button.close{
  position: absolute;
  font-size: 24px;
  right: 12px;
  top: 8px;
  width: 20px;
  color: #fff;
  opacity: 0.7;
}

#sign-panel button.close:hover,
#check-invoice-panel button.close:hover {
  opacity: 1;
}
#check-invoice-panel .panel-body{
  /*background: #fff;*/
  padding: 10px;

}



#sign-panel .sign-header,
#check-invoice-panel .panel-header {
  background: #2FC8A9;
  height: 35px;
  border-radius: 6px 6px 0 0;
  padding: 15px 0 0 20px;
}
#check-invoice-panel .panel-header{
  color: #fff;
}

#sign-panel .tab-nav li {
  margin: 0 2px;
}

#sign-panel .tab-nav a {
  min-width: 20px;
  padding: 0 30px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

#sign-panel .tab-nav a:hover {
  background: #c7faf0;
}

#sign-panel .tab-nav a.current {
  color: #333;
  background: #fff;
}

#sign-panel .login-panel .inner {
  padding: 30px 120px 15px;
}

#sign-panel .login-panel input.text-input {
  width: 346px;
  line-height: 24px;
  height: 24px;
  margin-bottom: 20px;
  font-size: 14px;
}

#sign-panel .primary-btn {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

#sign-panel .login-panel .icon {
  margin-left: 10px;
  color: #666;
  text-decoration: none;
}

#sign-panel .login-panel .icon:hover {
  color: #000;
}

#sign-panel .row {
  margin-bottom: 15px;
  *zoom: 1;
}

#sign-panel .row:after {
  content: "";
  display: table;
  clear: both;
}

#sign-panel .register-panel .inner {
  padding: 30px 0 15px 20px;
}

#sign-panel .register-panel .form-field {
  position: relative;
  margin-bottom: 20px;
}

#sign-panel .register-panel .form-field label {
  float: left;
  text-align: right;
  width: 100px;
  margin: 5px 12px 0 0;;
}

#sign-panel .register-panel .text-input {
  width: 240px;
}

#sign-panel .register-panel .checkbox-row,
#sign-panel .register-panel .primary-btn {
  margin-left: 112px;
}

#sign-panel .register-panel .alert {
  position: absolute;
  left: 372px;
  top: -4px;
}


#sign-panel .alert {
  display: none;
}



.shadeblock{
  overflow:visible;
}

.registerblock{
  background:url("http://dl.lepao.com/images/register_bg.png") no-repeat;
  position: absolute;
  top: 130px;
  left: 43%;
  margin-left: -200px;
  z-index: 30;
  height:496px;
  width:610px;
  display:none;
}
.loginblock{
  background:url("http://dl.lepao.com/images/register_bg.png") no-repeat;
  position: absolute;
  top: 130px;
  left: 43%;
  margin-left: -200px;
  z-index: 30;
  height:496px;
  width:610px;
  display:none;
}

.registerblock a:hover, 
.loginblock a:hover {
  text-decoration: none;
}

.registerblock h2,
.loginblock h2{
  font-size:24px;
  color:#fff;
  margin:15px 0 0 70px;
}
.registerblock h2 a,
.loginblock h2 a{
  font-size:18px;
  color:#fff;
  margin-left:50px;
}

.registercon,
.logincon{
  margin:70px 0 0 140px;
}
.input-pw{
  width:300px;
}
.clause{
  margin-left:200px;
}
.error_msg{
  text-align:center;
  color:red;
}
.clause a{
  color:#60a011;
  text-decoration:underline;
}
.registercon tr,
.logincon tr{
  height:40px;
}
.registercon input,
.logincon input{
  color:#ccc;
  height:28px;
}

.logincon input{
  width:300px;
}
.loginitem{
  margin-left:140px;
  width:350px;
}
.loginitem a{
  float:right;
}
.loginthird{
  border-top:2px solid #d5d2d0;
  margin-left:31px;
  margin-top:25px;
  width:502px;
  padding:15px 0 20px 50px;
}
.loginthird h3{
  margin:5px 0;
}
.qq-login{
  background:url("http://dl.lepao.com/images/qq_07.jpg") left center no-repeat;
  padding:0 10px 0 25px;
}


/* footer */
#footer_div{
  margin-top: 10px;
  background: #fff;
  z-index: 1;
  zoom: 1;
}

#footer_div:before,
#footer_div:after {
  content: " ";
  display: table;
}

.bottomnav{
  background:#e8f0df;
}
.bottomnav ul{
  width:805px;
  margin:0 auto;
}
.bottomnav li{
  float:left;
}
.bottomnav li a{
  display:block;
  width:158px;
  height:38px;
  border:1px solid #529025;
  border-top:1px solid #d0e9b7;
  color:#fff;
  text-align:center;
  line-height:40px;
}
.funitem{
  width:980px;
  margin:20px auto;
}
.funitem ul{
  overflow: hidden;
}
.funitem li{
  float:left;
}
.service{
  line-height: 59px;
  background:#e9e9e9;
  width:270px;
  text-align:center;
  padding:5px;
}
.servicetel{
  background:url("http://dl.lepao.com/images/tel_39.jpg") left center no-repeat;
  font-size:28px;
  padding-left:60px;
}
.workhour{ 
  width:320px;
  text-align:center;
  color:#fff;
  background:url("http://dl.lepao.com/images/hour_42.jpg") 40px center no-repeat #669725;
  padding:15px 0;
  font-size:20px;
  height:39px;
  margin:0 0 0 10px;
  line-height:39px;
}
.service_qq{
  margin-top:20px;
}
.service_qq a{
  display:block;
  float:left;
  background:url("http://dl.lepao.com/images/qq_48.jpg") left center no-repeat;
  padding-left:50px;
  line-height:33px;
  margin:0 10px;
}
.firminfo{
  text-align:center;
}
/** pre-order **/
.preorder-con{
  /*padding:30px 50px;*/
  margin: 77px auto;
  width: 994px;
  overflow:hidden;
}
.preorder-con h3{
  font-size:14px;
  line-height:30px;
  background:#daf32e;
  width:140px;
  text-align:center;
  margin:30px 0 7px 0;
}
.preorder-info{
  margin: 30px auto;
  width: 760px;
}
.fix-regmsg{
 width:254px;
 height:30px;
 float:left;
}

.preorder-con .text-input {
  margin-bottom: 5px;
}
.tab-off{
  display: none;
}
.tab-on{
  display: block;
}
.detail-inner-container{
  padding: 10px 0;
}
.promotion{
  width: 500px;
}
/*==================
 upload-section 
 ===================*/
 .textarea-section,
 .upload-section{
  width: 70%;
}
.upload-section{
  text-align: center;
  border-style:dashed; 
  height: 120px;
  position: relative;
}
.upload-section .small-tip{
  display: block;
  position: absolute;
  margin-top: 20px;
  margin-left: -100px;
  top: 50%;
  left: 50%;
  line-height: 2;
  color: #999;
}
.rest-img{
  position: absolute;
  bottom: 0px;
  left: 6px;
}
.btn-upload-img{
  position: relative;
  width: 100px;
  z-index: 2;
  color: #999;
  font-size: 14px;
  line-height: 120px;
  background: url("../images/icon_pic_upload_t.png") transparent center 20% no-repeat;
  overflow: hidden;
}
textarea.lg-input{
  height: 40px;
  width: 100%;
}
.reason-tip{
  margin-top: -10px;
  margin-right: -10px;
}
.upload-input{
  position: absolute;
  top: 0%;
  left:0%;
  width: 100px;
  height: 94px;
  _height:auto;
  font-size:40px\9;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.add-photo{
  position: relative;
  display: inline-block;
  zoom: 1;
  margin-right: 10px;
  width: 96px;
  height: 96px;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  color: #ccc;
  border: 2px dashed #ccc;
}
.add-photo i{
  font-size: 48px;
  font-weight: 800;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  font-family: tahoma;
  font-style: normal;
}
.img-bd{
  /*display: none;*/
  margin-top:10px; 
}
.upload-wrap{
  /*display: none;*/
}

/******* button group *******/
.dialog-full-bar .btn{
  width: 166px;
}
.btn-group {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.btn-group .btn {
  float: left;
}

.btn-group .btn + .btn {
  margin-left: -1px;
}

.btn-group > .btn:first-child:not(:last-child){
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group-xs>.btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-sm>.btn,.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-long-sm {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-toggle .btn {
  color: #86b42d;
  border-color: #86b42d;
  background: #fff;
}

.btn-group-toggle .btn:hover,
.btn-group-toggle .btn:focus {
  background: #f4fae6;
}

.btn-group-toggle .active {
  color: #fff;
  border-color: transparent;
  background: #86b42d !important;
}

/**************************table********************/
table{
  border-collapse: collapse;
  border-spacing: 0;
}
.table{
  width: 100%
}
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
 .table>tbody>tr>td,
 .table>tfoot>tr>td{
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #eee;
 }
 .table>thead>tr>th{
  text-align: left;
  padding: 10px;
  border: none;
 }
table.cart-row-table{

  width: 100%;
}
table.cart-row-table th{height:33px;text-align:center;background:#daf32e;border-right:2px solid #fff; font-weight: normal;}
table.cart-row-table tr{height:35px;}
table.cart-row-table td{text-align:center;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: middle;
  border-bottom: 1px solid #eee;}
table.cart-row-table.lg-th th{width: 200px;}
table.cart-row-table.nm-th th{width: 170px;}

 .accessable{
  color: #86b42d;
 }
 .forbidden{
  color: #999;
 }
 span.forbidden{
  padding: 0 4px;
  color: #999;
 }
 .band-amount,.num-danger{
  color: #f25e1e;
  padding: 0 4px;
 }
 .band-amount-accessable,.num-accessable{
  color: #86b42d;
  padding: 0 4px;
 }
em.num-accessable,
em.num-danger{
  font-style: normal;
}
.clum-span{
  padding: 0 8px;
}
 .check-panel{
  padding-top: 10px;
 }
 .check-result{
  max-height: 150px;
  *height: 150px;
  _height:150px;
  overflow-y:auto; 
  overflow-x:hidden; 
 }

#news-content p {
  text-indent: 30px;
  margin: 0px 3px 15px;
  line-height: 200%;
  font-size: 15px;
  font-family: "宋体";
}
