/*========================================================================
  home page
========================================================================*/
html,
body,
#main,
.fullscreen {
    height: 100%;
}

html.js {
    overflow: hidden;
}

.fullscreen {
    overflow: hidden;
    background: #fff;
}

.js .fullscreen {
    position: absolute;
    width: 100%;
}

#main {
    position: relative;
    background: #fff;
}

.js #main {
    overflow: hidden;
}

#section-nav {
    display: none;
    position: fixed;
    z-index: 200;
    top: 50%;
    right: 20px;
    margin: -50px 0 0;
    padding: 0;
    list-style: none;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
    _position: absolute;
    _right: auto;
    _left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));
    _margin-right: 20px;
}

.js #section-nav {
    display: block;
}

#section-nav li {
    width: 14px;
    height: 14px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

#section-nav li .dot {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #212121;
}

#section-nav li.active {
    cursor: default;
}

#section-nav li.active .dot {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid #000;
}

#section-nav li:not(.active) .dot {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

#section-nav li:not(.active):hover .dot {
    -webkit-transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transform: scale(1);
    -moz-transition: -moz-transform 0.3s;
    transform: scale(1);
    transition: transform 0.3s;
}

/*========================================================================
  slit slider
========================================================================*/
.sl-slider-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sl-slide {
    z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
    outline: 1px solid transparent; /* for firefox */
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
    width: 100%;
    height: 50%;
    left: -200px;
    -webkit-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
    width: 50%;
    height: 100%;
    top: -200px;
    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sl-content {
    width: 100%;
    height: 100%;
    background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
    background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
    background: #ccc;
}

/* arrow nav */
.nav-arrows {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.4;
}

.js .nav-arrows {
    opacity: 1;
    filter: alpha(opacity=100);
}

.nav-arrows span,
.slidesjs-navigation {
    position: absolute;
    z-index: 100;
    top: 50%;
    width: 76px;
    height: 77px;
    text-indent: -9999px;
    margin-top: -40px;
    cursor: pointer;
    background-repeat: no-repeat;
    opacity: 0.8;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}

.nav-arrows span:hover,
.slidesjs-navigation:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.nav-arrows span.nav-arrow-prev,
.slidesjs-previous {
    left: 5%;
    background-image: url("http://dl.lepao.com/images/slit_slider_na_arrow_prev.png");
}

.nav-arrows span.nav-arrow-next,
.slidesjs-next {
    right: 5%;
    background-image: url("http://dl.lepao.com/images/slit_slider_na_arrow_next.png");
}

.sl-slider .inner-container {
    width: 1000px;
    height: 600px;
    position: relative;
    top: 50%;
    margin: 0 auto;
    padding-top: 77px;
    margin-top: -300px;
}

.sl-slider .text-content {
    text-align: right;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -170px;
}

.sl-slider .intro {
    font-size: 18px;
    line-height: 60px;
    text-align: right;
    padding-top: 20px;
    min-height: 130px;
    _height: 130px;
}

.sl-slider .buy-button {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-top: 20px;
    background-repeat: no-repeat;
    font: 20px/45px sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 1000px;
    padding: 0 65px;
    -webkit-transition: 0.3s;
    /*
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
    */
}

.sl-slider .buy-button:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 45px;
    width: 19px;
    height: 20px;
    background: url("http://dl.lepao.com/images/buy_btn_arrow.png") no-repeat;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

.sl-slider .buy-button:hover {
    text-decoration: none;
}

.sl-slider .buy-button-pink {
    background-color: #669c21;
}

.sl-slider .buy-button-pink:hover {
    background: #507f14;
}

.sl-slider .buy-button:hover:after {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}

.sl-slider .bg-1 {
    z-index: 2;
}

.sl-slider .bg-1 .sl-slide-inner,
.sl-slider .bg-1 .sl-content-slice {
    background-color: #ffffff;
}

.sl-slider .bg-1 .deco-img {
    margin-top: 60px;
}

.sl-slider .bg-1 .intro {
    color: #575757;
}

.sl-slider .bg-1 .buy-button {
    float: right;
    background: #2FC8A9;

    /*   background-image: url("http://dl.lepao.com/images/buy_button_black.png"); */
}

.sl-slider .bg-1 .buy-button:hover {
    background: #16a78a;
}

.sl-slider .bg-1 .buy-button:hover {

}

.sl-slider .bg-1 .buy-button:active,
.sl-slider .bg-1 .buy-button:focus {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);

}

.sl-slider .bg-2 .sl-slide-inner,
.sl-slider .bg-2 .sl-content-slice {
    background-color: #f0e7ef;
}

.sl-slider .bg-2 .deco-img {
    position: absolute;
    bottom: 0;
}

.sl-slider .bg-2 .buy-button {
    float: right;
    background-color: #f13c6e;
    /*   background-image: url("http://dl.lepao.com/images/buy_button_pink.png"); */
}

.sl-slider .bg-2 .buy-button:hover {
    background-color: #db2658;
}

.sl-slider .bg-3 .sl-slide-inner,
.sl-slider .bg-3 .sl-content-slice {
    background-color: #e7f9f9;
}

/*
.sl-slider .bg-3.sl-trans-elems .sl-slide-inner,
.sl-slider .bg-3.sl-trans-elems .sl-content-slice {
  -webkit-animation: bg3 8s linear infinite;
}

@-webkit-keyframes bg3 {
  25% { background-color: #ed5aa8; }
  50% { background-color: #d7358c; }
  75% { background-color: #f33466; }
}
*/

.sl-slider .bg-3 .buy-button {
    float: right;
    background-color: #41bddd;
    /*   background-image: url("http://dl.lepao.com/images/buy_button_blue_border.png"); */
}

.sl-slider .bg-3 .buy-button:hover {
    background-color: #2ca2c0;
}

.sl-slider .bg-4 .sl-slide-inner,
.sl-slider .bg-4 .sl-content-slice {
    background: url("http://dl.lepao.com/images/home_banner_4.jpg") 50% 0 no-repeat;
    background-size: cover;
}

.sl-slider .bg-4 .buy-button {
    /*   background-image: url("http://dl.lepao.com/images/buy_button_pink_border.png"); */
    background-color: #f13c6e;
    /*   text-align: left; */
    float: left;
    margin: 40px 0 0 70px;
    display: inline;
}

.sl-slider .bg-4 .buy-button:hover {
    background-color: #d92a5a;
}

.sl-slider .bg-4 h2 {
    text-align: center;
}

.sl-slider .bg-4 .text-content {
    left: 30px;
    margin-top: -200px;
    right: auto;
    width: 366px;
}

.sl-slider .bg-4 .intro {
    margin: 30px 0 0;
    padding: 10px 30px;
    text-shadow: 0 1px 5px rgba(255, 255, 255, 0.3);
    background: url("http://dl.lepao.com/images/translucent_white_bg.png");
}

.sl-slider .bg-4 .intro:nth-child(1n) {
    background: rgba(255, 255, 255, 0.4);
}

/* 免费送腕带 */
.sl-slider .bg-5 {
    color: #fff;
    /*   z-index: 2; */
}

.sl-slider .bg-5 .sl-slide-inner,
.sl-slider .bg-5 .sl-content-slice {
    background: #b62e30 url("http://dl.lepao.com/images/home_slide_bg_5_bg.png") 50% 0;
}

.sl-slider .bg-5 .buy-button {
    background-color: #25cc8d;
    float: right;
    margin-top: 20px;
}

.sl-slider .bg-5 .deco-img {
    margin-top: -30px;
}

.sl-slider .bg-5 .intro {
    font-size: 16px;
}

.sl-slider .bg-5 .buy-button:hover {
    background-color: #2ba879;
}

/* 39元腕带 */
.sl-slider .bg-6 .deco-img {
    position: static;
    margin-top: 60px;
    margin-left: -35px;
}

/* 乐跑手环 1.5 */
#slide-band-1_5 {
    color: #163105;
}

#slide-band-1_5 .sl-slide-inner,
#slide-band-1_5 .sl-content-slice {
    background-color: #eee7e9;
}

#slide-band-1_5 .deco-img {
    margin-top: 50px;
}

.sl-trans-elems .deco {
    -webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    -moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}

.sl-trans-elems h2 {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both;
}

.sl-trans-elems .buy-button {
    -webkit-animation: moveDown 1s ease-in-out both;
    -moz-animation: moveDown 1s ease-in-out both;
    animation: moveDown 1s ease-in-out both;
}

.sl-trans-elems .intro {
    -webkit-animation: fadeIn 0.5s linear 0.5s both;
    -moz-animation: fadeIn 0.5s linear 0.5s both;
    animation: fadeIn 0.5s linear 0.5s both;
}

.sl-trans-back-elems .deco {
    -webkit-animation: scaleDown 1s ease-in-out both;
    -moz-animation: scaleDown 1s ease-in-out both;
    animation: scaleDown 1s ease-in-out both;
}

.sl-trans-back-elems h2,
.sl-trans-back-elems .buy-button,
.sl-trans-back-elems .intro {
    -webkit-animation: fadeOut 1s ease-in-out both;
    -moz-animation: fadeOut 1s ease-in-out both;
    animation: fadeOut 1s ease-in-out both;
}

.sl-trans-back-elems blockquote {
    -webkit-animation: fadeOut 1s linear both;
    -moz-animation: fadeOut 1s linear both;
    animation: fadeOut 1s linear both;
}

@-webkit-keyframes roll {
    0% {
        -webkit-transform: translateX(500px) rotate(360deg);
    }
    100% {
        -webkit-transform: translateX(0px) rotate(0deg);
    }
}

@-moz-keyframes roll {
    0% {
        -moz-transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll {
    0% {
        transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(50px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes moveUp {
    0% {
        -moz-transform: translateY(50px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes moveDown {
    0% {
        -webkit-transform: translateY(-50px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes moveDown {
    0% {
        -moz-transform: translateY(-50px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes scaleDown {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.5);
    }
}

@-moz-keyframes scaleDown {
    0% {
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform: scale(0.5);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.section2 {
}

.section2 .inner,
.section3 .inner,
.section4 .inner,
.section5 .inner,
.section6 .inner {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.section2 .inner .left {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -150px 0 0 -100px;
}

.section2 .inner .right {
    position: relative;
    top: 50%;
    margin-top: -280px;
    float: right;
    text-align: right;
}

.section2 .inner .right h2 {
    margin-bottom: 20px;
}

.section2.active .inner .right h2 {
    -webkit-animation: slide-left 0.6s ease-out 0.5s backwards;
}

.section2.active .inner .right h3 {
    -webkit-animation: slide-right 0.6s ease-out 0.5s backwards;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translate3d(50px, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translate3d(-50px, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.section2 .inner .right ul {
    font-size: 13px;
    text-align: left;
    color: #fff;
    background: #4dbfbf;
    list-style: none;
    padding: 14px 0;
    margin: 0 0 10px;
}

.section2 .inner .right ul:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 40%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #4dbfbf;
}

.section2 .inner .right ul li {
    padding-left: 32px;
    line-height: 26px;
    background: url("http://dl.lepao.com/images/list_decoration_green.png") 14px 50% no-repeat;
}

.section3 {
    background-color: #2FC8A9;
}

.section3 .prod_img {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 442px;
    height: 216px;
    margin-left: -221px;
    margin-top: 77px;
}

.section3 ul {
    text-align: center;
}

.section3 ul li {
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: -110px;
    margin-top: -110px;
}

.section3 ul li {
    background-position: 0 0;
}

.section3 ul li.sub1 {
    left: 0%;
    top: 33%;
    background-image: url("../images/small_icon/small_1.png");
}

.section3 ul li.sub2 {
    left: 20%;
    top: 63%;
    background-image: url("../images/small_icon/small_2.png");
}

.section3 ul li.sub3 {
    left: 50%;
    top: 78%;
    background-image: url("../images/small_icon/small_3.png");
}

.section3 ul li.sub4 {
    left: 80%;
    top: 63%;
    background-image: url("../images/small_icon/small_4.png");
}

.section3 ul li.sub5 {
    left: 100%;
    top: 33%;
    background-image: url("../images/small_icon/small_5.png");
}

@media only screen {
    .section3 ul li {
        background-position: 50% 65%;
    }

    .section3 ul li.sub1 {
        background-image: url("../images/small_icon/small_1.png");
    }

    .section3 ul li.sub2 {
        background-image: url("../images/small_icon/small_2.png");
    }

    .section3 ul li.sub3 {
        background-image: url("../images/small_icon/small_3.png");
    }

    .section3 ul li.sub4 {
        background-image: url("../images/small_icon/small_4.png");
    }

    .section3 ul li.sub5 {
        background-image: url("../images/small_icon/small_5.png");
    }
}

.section3 ul li div {
    position: absolute;
    width: 248px;
    height: 248px;
    top: -14px;
    left: -14px;
    border-radius: 50%;
    background-color: rgba(47, 200, 169, 0.8);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.section3:nth-child(1n) ul li div {
    border: 14px solid #82F5DE;
    width: 220px;
    height: 220px;
}

.section3 ul li div h3,
.section3 ul li div p {
    color: #fff;
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);*/
}

.section3 ul li:hover div,
.section3 ul li.hover div {
    filter: alpha(opacity=100);
    background-repeat: no-repeat;
    background-image: url("http://dl.lepao.com/images/home_section3_circle_hover.png");
}

.section3:nth-child(1n) ul li:hover div {
    background-image: none;
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
}

.touch .section3 ul li div {
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
}

.section3 ul li h3 {
    margin-top: 40px;
}

.section3.active ul li,
.section3.active .prod_img {
    -webkit-animation-delay: 0.6s;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.6s;

    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

.section3.active ul li:nth-child(1) {
    -webkit-animation-name: circle1;
    animation-name: circle1;
}

.section3.active ul li:nth-child(5) {
    -webkit-animation-name: circle5;
    animation-name: circle5;
}

.section3.active ul li:nth-child(2) {
    -webkit-animation-name: circle2;
    animation-name: circle2;
}

.section3.active ul li:nth-child(4) {
    -webkit-animation-name: circle4;
    animation-name: circle4;
}

.section3.active ul li:nth-child(3) {
    -webkit-animation-name: circle3;
    animation-name: circle3;
}

.section3.active .prod_img {
    -webkit-animation-name: prog-img;
    -webkit-animation-delay: 0.3s;
    animation-name: prog-img;
    animation-delay: 0.3s;
}

@-webkit-keyframes circle1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-200%, 50%, 0);
    }
    20% {
        opacity: 1;
    }
    74% {
        -webkit-transform: translate3d(10%, -5%, 0);
    }
}

@keyframes circle1 {
    0% {
        opacity: 0;
        transform: translate3d(-200%, 50%, 0);
    }
    20% {
        opacity: 1;
    }
    74% {
        transform: translate3d(10%, -5%, 0);
    }
}

@-webkit-keyframes circle5 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 50%, 0);
    }
    20% {
        opacity: 1;
    }
    77% {
        -webkit-transform: translate3d(-10%, -5%, 0);
    }
}

@keyframes circle5 {
    0% {
        opacity: 0;
        transform: translate3d(200%, 50%, 0);
    }
    20% {
        opacity: 1;
    }
    77% {
        transform: translate3d(-10%, -5%, 0);
    }
}

@-webkit-keyframes circle2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 200%, 0);
    }
    20% {
        opacity: 1;
    }
    68% {
        -webkit-transform: translate3d(5%, -10%, 0);
    }
}

@keyframes circle2 {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 200%, 0);
    }
    20% {
        opacity: 1;
    }
    68% {
        transform: translate3d(5%, -10%, 0);
    }
}

@-webkit-keyframes circle4 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 300%, 0);
    }
    20% {
        opacity: 1;
    }
    72% {
        -webkit-transform: translate3d(-5%, -10%, 0);
    }
}

@keyframes circle4 {
    0% {
        opacity: 0;
        transform: translate3d(100%, 300%, 0);
    }
    20% {
        opacity: 1;
    }
    72% {
        transform: translate3d(-5%, -10%, 0);
    }
}

@-webkit-keyframes circle3 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0%, 200%, 0);
    }
    20% {
        opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, -15%, 0);
    }
}

@keyframes circle3 {
    0% {
        opacity: 0;
        transform: translate3d(0%, 200%, 0);
    }
    20% {
        opacity: 1;
    }
    75% {
        transform: translate3d(0, -15%, 0);
    }
}

@-webkit-keyframes prog-img {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0%, -200%, 0);
    }
    20% {
        opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, 15%, 0);
    }
}

@keyframes prog-img {
    0% {
        opacity: 0;
        transform: translate3d(0%, -200%, 0);
    }
    20% {
        opacity: 1;
    }
    75% {
        transform: translate3d(0, 15%, 0);
    }
}

.section4 .deco-img {
    position: absolute;
}

.section4 .inner-top,
.section4 .inner-bottom {
    position: absolute;
    top: 50%;
}

.section4 .inner-top {
    margin-top: -250px;
    padding-left: 60px;
}

.section4 .inner-bottom {
    margin-top: 90px;
}

.section4 .tab-panel {
    margin: 0 0 0 433px;
}

.section4 .tab-panel h2 {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-bottom: 20px;
    color: #fff;
    line-height: 57px;
    background-color: #2FC8A9;
    padding: 0 80px 0 40px;
    font-size: 26px;
    font-weight: normal;
}

.section4 .tab-panel p {
    width: 450px;
    line-height: 30px;
}

.section4 .tab-panel h2:before {
    content: "";
    position: absolute;
    top: 100%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #2FC8A9;
}

.section4 .tab-nav {
    padding-left: 12px;
}

.section4 .tab-nav li {
    position: relative;
    float: left;
    display: inline;
    width: 244px;
    height: 244px;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.section4.active .tab-nav li {
    -webkit-animation: popup 0.4s backwards;
    animation: popup 0.4s backwards;
}

.section4.active .tab-nav li:nth-child(1) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.section4.active .tab-nav li:nth-child(2) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.section4.active .tab-nav li:nth-child(3) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.section4.active .tab-nav li:nth-child(4) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

@-webkit-keyframes scale-down {
    0% {
        -webkit-transform: scale(1.15);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes scale-down {
    0% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.section4 .tab-nav li:hover {
    z-index: 1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.section4 .tab-nav li a {
    display: block;
    width: 244px;
    height: 244px;
}

.section4 .tab-nav li a:hover {
    text-decoration: none;
}

.section4 .tab-nav li span {
    position: absolute;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    cursor: pointer;
}

.section4 .tab-nav li h3 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding-top: 65px;
    text-align: center;
}

.section4 .tab-nav .sub1 {
    background: rgb(233, 56, 27) url("../images/small_icon/three_icon_1.png") no-repeat 50% 80%;
}

.section4 .tab-nav .sub1:hover {
    box-shadow: 0 0 0 10px rgba(233, 56, 27, 0.5), 0 2px 10px 12px rgba(0, 0, 0, 0.3);
}

.section4 .tab-nav .sub1 span {
    background-color: #d8411e;
}

.section4 .tab-nav .sub2 {
    background: rgb(255, 53, 107) url("../images/small_icon/three_icon_2.png") no-repeat 50% 80%;
}

.section4 .tab-nav .sub2:hover {
    box-shadow: 0 0 0 10px rgba(255, 53, 107, 0.5), 0 2px 10px 12px rgba(0, 0, 0, 0.3);
}

.section4 .tab-nav .sub2 span {
    background-color: #dc2153;
}

.section4 .tab-nav .sub3 {
    background: rgb(246, 118, 43) url("../images/small_icon/three_icon_3.png") no-repeat 50% 80%;
}

.section4 .tab-nav .sub3:hover {
    box-shadow: 0 0 0 10px rgba(255, 170, 56, 0.5), 0 2px 10px 12px rgba(0, 0, 0, 0.3);
}

.section4 .tab-nav .sub3 span {
    background-color: #d96520;
}

.section4 .tab-nav .sub4 {
    background: rgb(255, 200, 40) url("../images/small_icon/three_icon_4.png") no-repeat 50% 80%;
}

.section4 .tab-nav .sub4:hover {
    box-shadow: 0 0 0 10px rgba(240, 232, 52, 0.5), 0 2px 10px 12px rgba(0, 0, 0, 0.3);
}

.section4 .tab-nav .sub4 span {
    background-color: #ffa828;
}

.section5 {
    background-color: #1CB6C7;
}

.section5 .inner-left,
.section5 .inner-right {
    position: absolute;
    top: 50%;
    left: 0;
}

.section5 .inner-left {
    width: 269px;
    height: 562px;
    margin-left: 115px;
    margin-top: -250px;
}

.section5.active .inner-left {
    -webkit-animation: phone-slide-in 1.1s ease 0.4s both;
    -moz-animation: phone-slide-in 1.1s ease 0.4s both;
    animation: phone-slide-in 1.1s ease 0.4s both;
}

@-webkit-keyframes phone-slide-in {
    0% {
        -webkit-transform: translate3d(0, 150%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes phone-slide-in {
    0% {
        -moz-transform: translate3d(0, 150%, 0);
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@keyframes phone-slide-in {
    0% {
        transform: translate3d(0, 150%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.section5 .inner-right {
    position: absolute;
    width: 470px;
    height: 500px;
    margin-left: 522px;
    margin-top: -200px;
    color: #fff;

}

.section5 .inner-right .ios-app,
.section5 .inner-right .android-app {
    text-align: center;
    padding-top: 20px;

}

.section5 .inner-right .ios-app {
    float: left;
    width: 235px;
}

.section5 .inner-right .android-app {
    margin-left: 235px;
}

.section5 .inner-right .qr-code {
    height: 150px;
}

.section5 .inner-right h2 {
    margin-bottom: 20px;
    text-align: center;
}

.section5 .inner-right p {
    line-height: 30px;
}

.section5 .inner-right .download-btns {
    text-align: center;
}

.section5 .inner-right .download-btns a {
    margin: 0 4px;
}

.section6 {
    background-color: #e8e4e0;
}

.section6 .section-left {
    position: absolute;
    top: 50%;
    height: 523px;
    width: 320px;
    margin-top: -230px;
    margin-left: 20px;
}

.section6 .section-left h2 {
    margin-bottom: 40px;
    margin-top: 40px;
    color: #5ab9c0;
}

.section6 .section-left p {
    line-height: 30px;
}

.section6 .section-right {
    position: absolute;
    width: 252px;
    height: 529px;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: 100px;
    -webkit-perspective: 1000px;
    -webkit-transform-style: preserve-3d;
}

.section6 .section-right .app-demo {
}

.section6 .section-right .figure {
    position: absolute;
    left: auto;
    right: auto;
    text-align: center;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: -0.2s;
}

.section6 .section-right .figure .img-wrapper {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 7px 7px 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.section6 .section-right .figure .figcaption {
    margin: 8px 0 0;
}

.section6 .section-right .figure1 {
    top: -3%;
    left: -110px;
    -webkit-animation-name: figure1;
}

@-webkit-keyframes figure1 {
    0% {
        -webkit-transform: rotateY(0) translate3d(0, 120px, 0) rotateY(0) scale(0.5);
        opacity: 0;
    }
    10% {
        -webkit-transform: rotateY(-120deg) translate3d(160px, 100px, 100px) rotateY(120deg) scale(0.95);
        opacity: 1
    }
    100% {
        -webkit-transform: rotateY(630deg) translate3d(190px, 0, 120px) rotateY(-630deg) scale(0.95);
    }
}

.section6 .section-right .figure2 {
    top: 12%;
    left: 228px;
    -webkit-animation-name: figure2;
}

@-webkit-keyframes figure2 {
    0% {
        -webkit-transform: rotateY(0) translate3d(0, 0, 0) rotateY(0) scale(0.5);
        opacity: 0;
    }
    10% {
        -webkit-transform: rotateY(-50deg) translate3d(180px, 0, 120px) rotateY(50deg) scale(0.95);
        opacity: 1
    }
    100% {
        -webkit-transform: rotateY(700deg) translate3d(200px, 0, 170px) rotateY(-700deg) scale(0.95);
    }
}

.section6 .section-right .figure3 {
    top: 30%;
    left: -228px;
    -webkit-animation-name: figure3;
}

@-webkit-keyframes figure3 {
    0% {
        -webkit-transform: rotateY(0) translate3d(0, 0, 0) rotateY(0) scale(0.5);
        opacity: 0;
    }
    10% {
        -webkit-transform: rotateY(-130deg) translate3d(200px, 0, 120px) rotateY(130deg) scale(0.95);
        opacity: 1
    }
    100% {
        -webkit-transform: rotateY(612deg) translate3d(220px, 0, 140px) rotateY(-612deg) scale(0.95);
    }
}

.section6 .section-right .figure4 {
    top: 60%;
    left: 240px;
    -webkit-animation-name: figure4;
}

@-webkit-keyframes figure4 {
    0% {
        -webkit-transform: rotateY(0) translate3d(0, -140px, 0) rotateY(0) scale(0.5);
        opacity: 0;
    }
    10% {
        -webkit-transform: rotateY(-40deg) translate3d(180px, -120px, 100px) rotateY(40deg) scale(0.95);
        opacity: 1
    }
    100% {
        -webkit-transform: rotateY(720deg) translate3d(200px, 0, 120px) rotateY(-720deg) scale(0.95);
    }
}

.section6 .section-right .figure5 {
    top: 67%;
    left: -103px;
    -webkit-animation-name: figure5;
}

@-webkit-keyframes figure5 {
    0% {
        -webkit-transform: rotateY(0) translate3d(0, -280px, 0) rotateY(0) scale(0.5);
        opacity: 0;
    }
    10% {
        -webkit-transform: rotateY(-140deg) translate3d(200px, -180px, 100px) rotateY(140deg) scale(0.95);
        opacity: 1
    }
    100% {
        -webkit-transform: rotateY(640deg) translate3d(200px, 0, 120px) rotateY(-640deg) scale(0.95);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .section6 .section-right .figure {
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media (min-height: 660px) {
    .section6 .section-right .figure1 {
        top: -4%;
    }

    .section6 .section-right .figure3 {
        top: 36%;
    }

    .section6 .section-right .figure5 {
        top: 72%;
    }
}

.extended-section {

}

.extended-section .extended-section-inner {
    position: relative;
    top: 50%;
    margin-top: -280px;
    height: 600px;
}

.extended-section .extended-section-inner #back-to-top {
    display: block;
    text-align: center;
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin: 80px auto 10px;
    color: #888;
    background: url("http://dl.lepao.com/images/back_to_top.png") no-repeat 50% 0;
    padding-top: 80px;
}

.extended-section .extended-section-inner #back-to-top:hover {
    color: #333;
    text-decoration: none;
}

#home-footer {
    background: #d2d1d0;
}

#home-footer .inner {
    width: 1000px;
    margin: 0 auto;
}

#home-footer ul li {
    float: left;
    width: 33.33%;
    height: 143px;
    color: #fff;
    line-height: 143px;
    font-size: 18px;
    text-align: center;
    text-indent: 2em;
    background-position: 30px 50%;
    background-repeat: no-repeat;
}

#home-footer ul li.sub1 {
    background-color: #FF356B;
    background-image: url("../images/small_icon/foot_1.png");
}

#home-footer ul li.sub2 {
    background-color: #F6762B;
    background-image: url("../images/small_icon/foot_2.png");
}

#home-footer ul li.sub3 {
    background-color: #FFC828;
    background-image: url("../images/small_icon/foot_3.png");
}

#home-footer ul li strong {
    font-size: 64px;
    font-weight: normal;
    vertical-align: middle;
    font-family: Verdana, Arial, sans-serif;
}

#global-footer {
    padding-top: 20px;
    margin: 0;
    border: 0;
    background: #fff;
}

@media (max-height: 620px) {
    #global-footer {
        padding-top: 10px;
    }

    .extended-section .extended-section-inner #back-to-top {
        margin-bottom: 0;
    }
}

#home-announce {
    position: absolute;
    z-index: 100;
    top: 90px;
    text-align: center;
    width: 100%;
}

#home-announce .alert {
    display: inline-block;
    *display: inline;
    zoom: 1;
    *width: 600px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.95);
    background: #595959;
    background: rgba(0, 0, 0, 0.35);
    border: none;
    text-shadow: none;
}

#home-announce .alert .close {
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#home-announce .alert .close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#home-news-list {
    width: 970px;
    padding: 8px 14px;
    margin: 10px auto;
    background-color: #e5e5e5;
    border: 1px solid #dadada;
    border-radius: 4px;
}

#home-news-list ul {
    overflow: hidden;
    height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 0;
    margin: 0;
    border-radius: 4px;
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#home-news-list ul li {
    zoom: 1;
}

#home-news-list ul li:after {
    content: "";
    display: table;
    clear: both;
}

#home-news-list a {
    float: left;
    color: #333;
}

#home-news-list .newDate {
    float: right;
    color: #666;
}

#goto-survey {
    position: fixed;
    _position: absolute;
    z-index: 10000;
    width: 160px;
    height: 161px;
    bottom: 10px;
    left: 10px;
    background: url("http://dl.lepao.com/images/survey_bg.png") no-repeat;
    cursor: pointer;
}

#goto-survey a {
    display: block;
    width: 160px;
    height: 161px;
}

#goto-survey .close {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 6px;
    color: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#goto-survey .close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}






