@charset "utf-8";

/* 统一等宽字体 */
code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}

pre {
    line-height: 18px;
}

/* 使得表单元素在 ie 下能继承字体大小 */
button, input, select, textarea {
    font-size: 100%;
}

/** 重置列表元素 **/
ul, ol {
    list-style: none;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */
small {
    font-size: 12px;
}

#navigation {
    background: #212121;
}

#navigation a {
    color: #ffffff;
}

#nav-action li a {
    color: #aeea19;
}

#navigation .navbar-nav li {
    margin: 5px;
}

#navbar li.active, #navbar li:hover {
    border-bottom: 6px solid #8cb33b;
    background: transparent;
}

#navbar a {
    background: transparent;
}

.setting {
    background: url(../images/setting.png) no-repeat;
    margin-top: 10px;
}



#wrap {
    padding-top: 60px
}

.container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
}

#page-main {
    padding-bottom: 20px
}

.box {
    margin-bottom: 20px;
    background-color: #fff;
}

.box {

    margin-right: -4px;
}

/*room size*/
.bottom {
    border-bottom: 1px solid #dcdcdc;
}

.box .slider {
    margin-bottom: 20px;
}

.box .title {
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 10px;
}

.box .cell, .box .box-header {
    padding: 10px;
    border-bottom: 1px solid #d9d7d7;
    font-size: 16px;
}

.box .inner {
    padding: 10px
}

.box .header {
    padding: 20px 10px;
    border-bottom: 1px solid #E2E2E2
}

.box .header {
    font-size: 14px;
    line-height: 120%
}

.box .infolist ul {
    margin: 10px;
}

.box .infolist ul li {
    line-height: 1.6em;
}

.box ul {
    padding-left: 0
}

.box .post {
    background: #8cb33b url(../images/post.png) 130px 15px no-repeat;
    width: 320px;
    height: 49px;
    padding-top: 15px;
    display: block;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    text-indent: 150px;
    line-height: 20px;
    text-decoration: none;
}

.box .information {
    margin-bottom: 20px;
}

.box .member {
    background: url(../images/result.png) no-repeat 0px -188px;
    width: 320px;
    margin-bottom: 0px;
}

.box .comments {
    background: url(../images/result.png) no-repeat 0px -245px;
    width: 320px;
    margin-top: 20px;
}

.box .member li {
    margin-bottom: 5px;
}

.box .comments li {
    margin-bottom: 10px;
}

.box .post-new {
    background: url(../images/post-new.png) 13px 7px no-repeat;
    padding-left: 40px;
}

#new_topic .form-label {
    margin: 20px 0px 20px 0px;
}

#cid option {
    background: #e5e5e5;
    color: #9b9a9a;
}

.upload-pic {
    background: url(../images/picture-button.png) no-repeat;
    width: 70px;
    height: 23px;
}

.ke-upload-file {
    width: 75px !important;
    cursor: pointer !important;
}

.ke-button {
    opacity: 0 !important;
    filter: alpha(opacity=0);
}

.ke-form {
    width: 70px;
    top: -5px;
    left: -5px;
}

.submit-create {
    width: 198px;
    height: 49px;
    background: url(../images/create.png) no-repeat;
    border: none;
}

.stacked {
    background: #eeeeee;
}

.nav-stacked li {
    text-align: center;
}

.nav-stacked li a {
    color: #666666;
}

.nav-stacked li.active a {
    background: #a6e0e0;
    color: #ffffff;
}

.control-label {
    color: #2fc8a9;
}

.btn-green {
    background: #8cd33b;
    border: 1px solid #8cd33b;
    color: #ffffff;
}

.text-success {
    color: #2fc8a9;
}

.snow {
    color: #E2E2E2
}

.sep3 {
    height: 3px
}

.sep5 {
    height: 5px
}

.sep10 {
    height: 10px
}

.forum {
    color: #ffffff;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.list-inline {
    margin-top: 18px;
    margin-bottom: 0px;
}

.login-reg {
    background: #dcdcdc;
    height: 70px;
    margin-bottom: 50px;
}

.login-reg li a {
    width: 105px;
    height: 42px;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    display: inline-block;
}

.login-reg li a:hover {
    border-top: 2px solid #8cb33b;
    background: #ffffff;
}

.login-reg li a.active {
    border-top: 2px solid #8cb33b;
    background: #ffffff;
}

td.avatar {
    text-align: center;
    vertical-align: top;
    width: 48px
}

#footer {
    color: #999999;
    font-size: 12px
}

#footer {
    background: #fff;
    border-top: 1px solid #CCC
}

#footer #footer-main {
    line-height: 150%;
    padding: 10px
}

#footer ul.page-links {
    margin: 10px 0;
    font-weight: bold
}

#footer .copywrite {
    margin-bottom: 15px
}

a.action_label {
    border: 1px solid #CCC;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px 8px 2px;
    color: #666;
    border-bottom: none;
    text-decoration: none
}

/*a.action_label:hover{background-color:#ccc;color:#333}*/
.wrap {
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic .item_title {
    padding-left: 58px
}

.topic .topic-meta {
    font-size: 12px;
    margin-top: 5px;
}

.topic .topic-meta span {
    color: #999999;
}

.topic .topic-meta .muted {
    padding: 0 5px
}

.topic-meta .fourm-bottom {
    color: #999
}

.topic-bottom {
    font-size: 12px;
}

.topic:hover {
    background: #f6f6f6
}

.topic .meta {
    color: #999999;
    font-size: 12px
}

.topic-meta li {
    min-width: 120px;
}

.topic-meta .lastest {
    margin-left: 50px;
    color: #999999;
}

td.with_separator {
    border-right: 1px solid #ccc
}

.center {
    text-align: center
}

.content {
    font-size: 14px;
    line-height: 180%;
    color: #000;
    overflow: hidden;
    word-break: break-word
}

.content h2 {
    padding: 10px 0px 10px 0px
}

.additional {
    margin-top: 20px;
    font-size: 85%
}

a.current_label {
    background-color: #E3E3E3
}

.sort_item {
    padding: 5px;
    border-bottom: 1px dotted #CCC
}

.sort_item:hover {
    cursor: pointer
}

.sort_actions {
    margin-top: 10px
}

img.external {
    max-width: 570px
}

.fileupload-btn {
    position: relative
}

.fileupload-btn input#fileupload {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 23px;
    direction: ltr;
    cursor: pointer
}

.box-header {
    color: #494949
}

.bigger {
    font-size: 16px
}

.f12 {
    font-size: 12px
}

.badge-info {
    background-color: #fae2cd;
    color: #de876c;
    min-width: 30px;
}

.badge-info a {
    color: #de876c;
}

.search {
    background: url(../images/search-box.png) no-repeat;
    border: none;
    color: #7c7c7c;
}

.google-submit {
    background: url(../images/search.png) no-repeat;
    width: 19px;
    height: 20px;
    border: none;
    outline: none;
    left: 150px;
    top: -25px;
    position: relative;
}

.setting-user {
    background: url(../images/result.png) 0px -142px no-repeat;
    text-indent: 42px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    padding-top: 10px;
}

.notification {
    background: url(../images/result.png) 0px -76px no-repeat;
    text-indent: 32px;
}

.follow {
    background: url(../images/result.png) 0px 5px no-repeat;
    text-indent: 32px;
}

.favotites {
    background: url(../images/result.png) 0px -35px no-repeat;
    text-indent: 32px;
}

.reply {
    background: url(../images/result.png) 0px -110px no-repeat;
    text-indent: 32px;
}

a.count {
    background-color: #AAB0C6;
    border-radius: 12px 12px 12px 12px;
    color: white;
    display: block;
    font-weight: bold;
    line-height: 12px;
    margin: 4px 12px 0 0;
    padding: 2px 10px;
    text-decoration: none
}

.created {
    color: #CCCCCC;
    display: block;
    font-size: 12px
}

a.node:link, a.node:visited, a.node:active {
    color: #999999;
    display: inline-block;
    font-size: 12px;
    line-height: 10px;
    padding: 4px 4px 3px;
    text-decoration: none
}

a.node:hover {
    color: #777;
    text-decoration: none
}

a.startbbs:link, a.startbbs:visited, a.startbbs:active {
    color: #2fc8a9;
    text-decoration: none
}

a.startbbs:hover {
    color: #428bca;
    text-decoration: underline
}

a.black:link, a.black:visited, a.black:active {
    color: #000;
    text-decoration: none
}

a.muted:link, a.muted:visited, a.muted:active {
    color: #999999;
    text-decoration: none
}

a.muted:hover {
    color: black;
    text-decoration: underline
}

a.dark:link, a.dark:visited, a.dark:active {
    color: gray;
    text-decoration: none
}

a.dark:hover {
    color: #385F8A;
    text-decoration: none
}

.chevron {
    color: #666666;
    font-family: "Lucida Grande"
}

.marketing {
    color: #999999
}

.post-new {
    background: url(../images/);
}

.hover_action {
    display: none
}

.comment_header {
    background-color: #EDF3F5
}

.content img {
    display: block;
    height: auto;
    max-width: 100%
}

.reply_content, .topic_content {
    color: #000000;
    font-size: 14px;
    line-height: 180%;
    overflow: hidden
}

.reply_content img {
    max-width: 560px
}

.pagination {
    margin: 10px 0
}

.pagination ul > li > a:hover {
    background-color: #F93;
    color: #FFF;
    text-decoration: none
}

.topics_heading {
    text-align: center;
    color: #ccc
}

.payload {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    line-height: 120%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.profile-link {
    font-size: 16px
}

.signature {
    color: #999999;
    margin: 5px 0
}

.glass .inner {
    padding: 10px
}

h1 #topic_title {
    margin: 0 0 10px;
    padding: 0
}

h2.topic_title {
    font-size: 16px;
    line-height: 150%;
    font-weight: normal
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0px !important;
    margin-bottom: 10px
}

h1 {
    font-size: 20px
}

h2 {
    /*font-size: 18px*/
}

h3 {
    font-size: 16px
}

h4 {
    font-size: 12px
}

img.large_avatar, img.big_avatar {
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

img.medium_avatar, img.middle_avatar {
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 48px;
    height: 48px;
}

img.small_avatar, img.mini_avatar {
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 24px;
    height: 24px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.gray {
    color: #778087;
    text-decoration: none
}

.jumbotron {
    text-shadow: 0 2px #fff;
    margin-bottom: 10px
}

.tags a {
    line-height: 26px;
    color: white;
    padding: 4px 6px;
    background-color: #BFBFBF;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.tags a:hover {
    text-decoration: none;
    background-color: #AAA
}

.tag {
    padding: 2px 2px 2px 20px;
    margin: 10px 2px 4px 2px;
    background: url(../images/tag.gif) no-repeat 0 6px;
    color: #CCC;
}

.unit {
    background-color: #F6F6F6;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    zoom: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.unit h3 {
    color: #444;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
    line-height: 22px;
}

.unit ul {
    list-style: none;
    margin-bottom: 2px;
}

.unit ul li {
    float: left;
    width: 48%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px;
    line-height: 1.2em;
}

.unit ul li a {
    color: #333;
    text-decoration: none;
    padding-left: 25px;
    background: url(../images/dot.png) no-repeat 10px 6px;
}

.unit ul li a:hover {
    color: #000;
    text-decoration: underline;
}

.user_list {
    list-style: none;
    float: none;
    overflow: hidden;
}

.user_list li {
    width: 55px;
    height: 58px;
    float: left;
    text-align: center; /*border:1px solid red;*/
    position: relative;
    margin: 10px;
}

.user_list li img {
    width: 50px;
    height: 50px;
    float: left; /*border:1px solid #ddd;*/
    padding: 0px;
    background: #f0f0f0;
    position: relative;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.user_list li p {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 55px;
}

/*
http://sc.chinaz.com/info/131106485529.htm
http://www.xichuangzhu.com/work/10181#
*/
.icon-footer-qq {
    padding: 4px 0 4px 28px;
    background: url(http://dl.lepao.com/images/icon_footer_qq.png) no-repeat 0 50%;
}

#home-footer {
    background: #d2d1d0;
}

#home-footer .inner {
    width: 1000px;
    margin: 0 auto;
}

#home-footer ul.unstyled {
    padding: 0px;
}

#home-footer ul li {
    float: left;
    width: 33.33%;
    height: 143px;
    color: #fff;
    line-height: 143px;
    font-size: 18px;
    text-align: center;
    text-indent: 2em;
    background-position: 30px 50%;
    background-repeat: no-repeat;
}

#home-footer ul li.sub1 {
    background-color: #f4772c;
    background-image: url(http://dl.lepao.com/images/home_footer_7day.png);
}

#home-footer ul li.sub2 {
    background-color: #ef3f6f;
    background-image: url(http://dl.lepao.com/images/home_footer_15day.png);
}

#home-footer ul li.sub3 {
    background-color: #ae265a;
    background-image: url(http://dl.lepao.com/images/home_footer_free_post.png);
}

#home-footer ul li strong {
    font-size: 64px;
    font-weight: normal;
    vertical-align: middle;
    font-family: Verdana, Arial, sans-serif;
}

#global-footer {
    color: #808080;
    line-height: 30px;
    padding: 30px 0 20px;
    margin-top: 30px;
}

#global-footer .inner {
    width: 1000px;
    margin: 0 auto;
}

#global-footer a {
    color: #808080;
}

#global-footer a:hover {
    color: #333;
    text-decoration: none;
}

#global-footer .links {
    width: 700px;
    line-height: 15px;
    margin: 10px auto 20px;
}

#global-footer .company-info {
    font-size: 12px;
    text-align: center;
    padding: 10px 0 0;
}

#global-footer .footer-icon-heart,
#global-footer .footer-icon-news,
#global-footer .footer-icon-customer-service,
#global-footer .footer-icon-tel,
#global-footer .footer-icon-service1,
#global-footer .footer-icon-service2,
#global-footer .footer-icon-service3 {
    background-image: url(http://dl.lepao.com/images/footer_icon.png);
    background-repeat: no-repeat;
    padding-left: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#global-footer .footer-icon-heart,
#global-footer .footer-icon-news {
    display: inline-block;
    width: 100px;
    margin-right: 100px;
}

#global-footer .footer-icon-heart {
    background-position: 0 2px;
}

#global-footer .footer-icon-news {
    background-position: 0 -27px;
}

#global-footer .footer-icon-customer-service {
    background-position: 0 -58px;
    margin-right: 20px;
}

#global-footer .footer-icon-tel {
    background-position: 0 -88px;
    margin-right: 40px;
}

#global-footer .footer-icon-service1,
#global-footer .footer-icon-service2,
#global-footer .footer-icon-service3 {
    padding-left: 30px;
    margin-right: 30px;
}

#global-footer .footer-icon-service1 {
    background-position: 0 -120px;
}

#global-footer .footer-icon-service2 {
    background-position: 0 -150px;
}

#global-footer .footer-icon-service3 {
    background-position: 0 -180px;
}
