@charset "utf-8";
/* CSS Document */
/*新闻动态*/
.autoHeight {
    height: auto !important;
    min-height: 0px;
    height: 0px;
}

.autoHeight:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
}

.news_Box {
    width: 1000px;
    /*margin: 4.8% auto 15px*/
    margin: 0 auto 15px
}

.news_ban {
    height: 350px;
}

.news_left {
    width: 142px;
    float: left;
    background: url("http://dl.lepao.com/images/news_line.png") no-repeat right 50px;
    height: 400px;
    padding-top: 23px;
}

.news_left h2 {
    height: 35px;
}

.news_left .Refresh {
    width: 124px;
    height: 33px;
    background: url("http://dl.lepao.com/images/news_img.png") left top;
    display: block;
    margin-top: 14px;
    cursor: pointer
}

.news_list {
    margin-top: 15px;
    width: 100%;
    float: right;
    margin-right: 5px;
    display: inline
}

.news_list .newBar {
    height: 38px;
    border-bottom: 1px solid #2fc8a9;
}

.news_name {
    height: 24px;
    float: left;
    background: url("../images/small_icon/news_img.png") no-repeat left -60px;
    padding-left: 30px;
    line-height: 24px;
    font-size: 18px;
    font-family: "微软雅黑"
}

.ReturnBtn {
    color: #000;
    display: block;
    float: right;
    background: url("../images/small_icon/news_img.png") left -117px no-repeat;
    width: 40px;
    padding-left: 30px;
    line-height: 24px;
}

.news_list ul {
    margin-top: 15px;
}

.news_list ul li {
    height: 37px;
    border-bottom: 1px dashed #a3a3a3;
    line-height: 37px;
}

.news_list ul li .newTit {
    width: 629px;
    height: 30px;
    overflow: hidden;
    height: 37px;
    background: url("../images/small_icon/news_img.png") left -155px no-repeat;
    line-height: 37px;
    display: block;
    float: left;
    padding-left: 22px;
    cursor: pointer;
    color: #000;
    font-family: "宋体";
    font-size: 12px;
}

.news_list ul li .newTit a {
    color: #000
}

.news_list ul li .newDate {
    width: 150px;
    display: block;
    float: right;
    text-align: right;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

.news_page {
    text-align: center;
    margin-top: 15px;
}

.news_page a {
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
    color: #000
}

.news_page a.F60 {
    color: #60a011;
    font-size: 14px;
}

.news_con {
    color: #535353;
    line-height: 30px;
    font-size: 12px;
    font-family: "宋体";
    padding-top: 10px;
    text-indent: 2em
}

.news_con .image {
    margin: 10px auto;
    text-align: center
}


/*补充的css*/
.circle_left{
    width: 73%;
    float: right;
}
.circle_right{
    width: 24.3%;
    float: left;
}