/*========================================================================
  user center
========================================================================*/
.user-modify {
  
}

.user-modify .list-group {
  width: 100%;
}

.user-modify .list-group .list-group-item {
  /*padding-left: 120px;*/
  border-color: #eee;
}

.user-modify .list-group .label {
  float: left;
  width: 120px;
  margin-right: 20px;
  text-align: right;
}

.user-modify .main{
  width: 76%;
  background: #fff;
  padding-left: 40px;
  min-height: 800px;
  margin-top: 20px;
}

/*.user-modify .main{
  width: 76%;
}*/

.side-nav{
  width: 20%;
}
.nav-item {
  display: block;
  padding: 10px 15px;
  background-color: #fff;
}

.nav-group{
  /*border-right: 1px solid #eee;美术优化*/
  padding-left: 0;
  margin: 20px 0px;
  border-radius: 4px;
}
.nav-group .nav-item{
  display: block;
  line-height: 20px;
}

.nav-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.nav-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


.nav-group a.nav-item.active{
  background: #fff;
  /*background: #eee;*/
  text-decoration: none;
  border-left: 4px solid #aeea19;
  color: #525252;/*美术优化*/
  box-shadow: -4px 3px 2px 0px rgba(209,209,209,0.6);/*美术优化*/
}

.user-modify .nav-item{
  line-height: 45px;
  /*line-height: 56px;*/
  padding-left: 14px;
  background: #eee;/*美术优化*/
  color: #a8a8a8;/*美术优化*/
  font-size: 16px;
}
i.nav-icon{
 font-size: .8em;
 line-height: 22px !important;
}
.user-modify i.nav-icon{
  font: 0/0 a;
  color: transparent;
  margin: 0px 10px;
  padding: 18px;
  line-height: 20px;
  background-image:url(http://dl.lepao.com/images/user-nav-icon.png); 
}

.bank-group {
  zoom: 1;
}

.bank-group:after {
  content: " ";
  display: table;
  clear: both;
}


.bank-group label {
  position: relative;
  float: left;
  display: inline;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 25px;
  margin-right: 15px;
  width: 190px;
  background: #fff;
  line-height: 38px;
  cursor: pointer;
}

.bank-group label input {
  position: relative;
  top: 7px;
  float: left;
  display: inline;
  margin-left: -20px;
  margin-top: 4px;
  margin-top: 1px \9;
  *margin-top: 0;
}

.icon-bank { 
  position: relative;
  z-index: 1;
  display: block;
  width: 185px;
  height: 36px;
  border: 1px solid #ddd;
  background-image: url(http://dl.lepao.com/images/icon-bank.png);
  background-repeat: no-repeat;
}

.bank-group .icon-bank:hover {
  border-color: #999;
}

.bank-group .icon-bank.active {
  border-color: #70ce38;
}

.bank-group .bank-name {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 25px;
  width: 121px;
  height: 38px;
  overflow: hidden;
}




@media screen and (max-device-width:768px) {
  .faq .details {
    font-size: 1.5em;
  }
}









