.btn_writearticle{

    width: 100%;
    height: 35px;
    padding-top: 15px;
    display: block;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    text-indent: 110px;
    line-height: 20px;
    text-decoration: none;
}
.btn_background1{
    background:#8CB33B url(../images/small_icon/me_read_icon.png) 80px 13px no-repeat;
}
.btn_background2{
    background:#F6762B url(../images/small_icon/me_write_icon.png) 80px 13px no-repeat;
}
.btn_background3{
    background:#1CB6C7 url(../images/small_icon/me_modify_icon.png) 80px 13px no-repeat;
}
.btn_background4{
    background:#2FC8A9 url(../images/small_icon/me_chart_icon.png) 80px 13px no-repeat;
}
.btn_background5{
    background:#2FC8A9 url(../images/small_icon/me_chart_icon.png) 80px 13px no-repeat;
}
.btn_maginbottom{
    margin-bottom: 10px;
}
.center{
    text-align: center;
}
.point{
    cursor:pointer
}

/*私人聊天这块*/
.love_chart_alltop{
    margin-top: 10px;
}
.love_chart_floatrignt{
    float: right;
}
.love_chart_floatleft{
    float: left;
}
.love_chart_title{
    height: 50px;
}
.love_chart_lover{
    margin-right: 8px;
}
.love_chart_titlename{
    width: 100%;
    margin: 10px 0;
    color: #A7A7A7;
}

.love_chart_height{
    height: 300px;
}
.love_chart_height span{
    color: #999999;
    font-size: 12px;
    margin-left: 20px;
}

.love_chart_lovercolor{
      color: #2FC8A9;
  }
.love_chart_mecolor{
    color: #8CB33B;
}

.love_chart_height p{
    margin-bottom: 0;
}
.magin_top{
    margin-top: 0;
}
