@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

audio[controls], canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}



::-moz-selection {
    /*background: #084b91;*/
    color: #fff;
    text-shadow: none
}

::selection {
    /*background: #084b91;*/
    color: #fff;
    text-shadow: none
}



abbr[title] {
    border-bottom: 1px dotted #999
}

b, strong {
    font-weight: bold
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
    padding: 0
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold
}

pre, code, kbd, samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before, q:after {
    content: "";
    content: none
}

small {
    font-size: 85%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

dd {
    margin: 0 0 0 40px
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin: -250px 0 0 -280px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box
}

.modal.fade {
    top: -25%;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
    -o-transition: opacity 0.3s linear, top 0.3s ease-out;
    transition: opacity 0.3s linear, top 0.3s ease-out
}

.modal.fade.in {
    top: 50%
}

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee
}

.modal-header .close {
    margin-top: 2px
}

.modal-header h3 {
    margin: 0;
    line-height: 30px
}

.modal-body {
    max-height: 400px;
    padding: 15px;
    overflow-y: auto
}

.modal-form {
    margin-bottom: 0
}

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff
}

.modal-footer:before, .modal-footer:after {
    display: table;
    line-height: 0;
    content: ""
}

.modal-footer:after {
    clear: both
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}


input, button {
    border: 1px solid #DDD;
    font-size: 13px;
    margin: 0;
    height: auto
}

img {
    display: inline
}



fieldset {
    border-width: 1px 0 0 0;
    border-style: solid;
    padding: 0 10px 0 18px;
    border-color: #bebec0
}

legend {
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold
}

span {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

h1, h2, h3, h4, h5, h6 {

    font-weight: normal;
    color: #6b7985;
    line-height: 1
}



.close {
    cursor: pointer;
    padding: 2px 3px;
    cursor: pointer;
    padding: 2px 3px;
    position: absolute;
    right: 10px;
    top: 14px
}

.close:hover {
    background-color: grey;
    color: #ffffff
}

.button-blue {
    display: block;
    float: left;
    padding: 5px 0;
    width: 80px;
    margin-right: 10px;
    color: #fff;
    background: #2FC8A9;
    text-align: center;
    cursor: pointer
}

.button-blue:hover {
    /*background: #084b91;*/
    text-decoration: none;
    color: #ffffff
}

.button-grey {
    display: block;
    float: left;
    padding: 5px 0;
    width: 80px;
    color: #fff;
    background: #ccc;
    text-align: center;
    cursor: pointer
}

.button-grey:hover {
    background: #aaa;
    text-decoration: none
}

.buttons {
    width: 170px;
    margin: 0 auto
}

.check {
    float: left;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    background: url(../img/v2/check.png) no-repeat
}

.check:hover {
    background: url(../img/v2/check-hover.png) no-repeat
}

.check.checked {
    background: url(../img/v2/checked.png) no-repeat
}

.login-form .form-arrow, .signup-form .form-arrow, .forgot-form .form-arrow {
    display: block;
    width: 30px;
    height: 15px;
    background: url(/static/img/arrow.png?2013033000) no-repeat;
    position: absolute;
    left: 95px;
    top: -15px
}

.login-form input, .signup-form input, .forgot-form input {
    padding: 9px 9px 9px 9px;
    margin-bottom: 20px;
    display: block;
    width: 94%
}

.login-form .forgot, .login-form .login, .login-form .reg, .signup-form .forgot, .signup-form .login, .signup-form .reg, .forgot-form .forgot, .forgot-form .login, .forgot-form .reg {
    width: 302px;
    padding: 0;
    margin: 0 0 10px 0;
    height: 35px;
    font-size: 18px;
    cursor: pointer
}

.login-form label.remember, .signup-form label.remember, .forgot-form label.remember {
    font-size: 13px
}

.login-form input[type="checkbox"], .signup-form input[type="checkbox"], .forgot-form input[type="checkbox"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 3px 5px 0 0
}

.login-form a.forgot, .signup-form a.forgot, .forgot-form a.forgot {
    font-size: 13px;
    float: right;
    margin-top: 2px;
    width: auto;
    cursor: pointer
}

.login-form p.error, .signup-form p.error, .forgot-form p.error {
    font-size: 13px;
    margin-bottom: 5px;
    color: #b22d2d
}

.landing-bg {
    background: url(/static/img/land/land_bg.jpg) center top no-repeat #f4f1ed;
    min-width: 1000px;
    height: 350px;
    border-bottom: 1px solid #E7E7E7
}

.land-content {
    width: 1000px;
    margin: 0 auto
}

.land-content .devide {
    background: url(/static/img/land/land_line.png) center top no-repeat;
    height: 43px;
    margin: 15px 0 0 0
}

.land-content .land-title {
    font-size: 30px;
    color: #202020;
    text-align: center;
    margin: 10px 0 20px 0
}

.land-content .demo-mod:first-child {
    margin-left: 0
}

.land-content .demo-mod {
    width: 300px;
    height: 280px;
    margin-left: 50px;
    float: left
}

.land-content .demo-mod h4 {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    margin: 10px 0 50px 0;
    padding: 10px 0;
    color: #202020
}

.land-content .demo-mod a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 18px;
    font-weight: 14px;
    color: #808080
}

.land-content .demo-links {
    margin-top: 10 p
}

.ucando {
    margin-top: 20px
}

.ucando img {
    float: left;
    margin-left: 47px
}

.ucando img:first-child {
    margin-left: 0
}

.land-bg {
    background: url(/static/img/land/bg.png) repeat;
    position: relative
}

.land-bg .desc {
    position: absolute;
    left: 55%;
    top: 140px
}

.land-bg .desc h4 {
    margin-bottom: 10px
}

#land_footer {
    background-color: #ffffff;
    padding: 5px
}

#signup-modal, #login-modal, #forgetform, .modal {
    display: none;
    width: 300px;
    padding: 0 40px 20px;
    background: white;
    /*border: 5px solid rgba(0, 0, 0, 0.2);*/
    margin-left: -190px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
    box-shadow: 0 1px 0 white inset;
    margin-top: -267px
}

#signup-modal a:hover, #login-modal a:hover, #forgetform a:hover, .modal a:hover {
    text-decoration: none
}

.modal h1, #forgetform h1, #signup-modal h1, #login-modal h1 {
    margin: 0 -40px;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    font-size: 16px;
    padding: 13px 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    margin-bottom: 30px
}

.modal .close, #signup-modal .close, #login-modal .close, #forgetform .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 18px 11px 18px;
    opacity: .8;
    border-left: 1px solid #BBB
}

.forgot-btn, .login-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-top: 14px;
    color: #ffffff
}

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    cursor: pointer
}


.nologin {
    float: right
}

.nologin .white-btn {
    margin: 15px 10px
}

.reg-btn {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(top, #fbac2b, #f9a328);
    background-image: -webkit-linear-gradient(top, #fbac2b, #f9a328);
    background-color: #f9a328;
    border: 1px solid #d58d4a;
    width: 150px;
    padding: 15px 20px;
    background-color: #ffc341;
    text-align: center;
    margin-top: 80px;
    color: #ffffff;
    font-size: 24px;
    border-radius: 4px
}

#mw-info {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background: #ededed;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    color: #4b4b4b;
    display: block;
    float: none;
    font-size: 15px;
    left: 0;
    min-width: 550px;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2147483647
}

#mw-info .meiwei_header {
    height: 3px
}

#mw-info .meiwei_header_bg {
    float: left;
    height: 100%;
    width: 50%
}

#mw-info .meiwei_header_bg1 {
    background-color: #3f7dca
}

#mw-info .meiwei_header_bg2 {
    background-color: #73a9ec
}

#mw-info .meiwei_bd {
    height: 70px;
    line-height: 70px;
    position: relative
}

#mw-info .meiwei_logo {
    left: 7%;
    position: absolute;
    top: 8px;
    vertical-align: top
}

#mw-info .meiwei_tip {
    font-size: medium;
    font-weight: normal;
    margin: 0;
    padding: 0
}

#mw-info .meiwei_tip a {
    text-decoration: underline;
    color: #4d86cd
}

.nologin {
    float: right
}

#iframe-cached {
    height: 100%;
    border-top: 1px solid #AAA;
    margin-top: 60px;
    border-image: initial
}

#iframe-cached iframe {
    width: 100%;
    height: 100%;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto !important;
    display: block
}

#tools img {
    display: block
}

#tools .main {
    background-color: #fff
}

#tools .bd {
    background: #ffffff
}

#tools .side-nav {
    background-color: #e7e9eb;
    height: 3000px
}

#tools h3 {
    background-color: #E7E9EB;
    font-size: 15px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 5px
}

#tools h4 {
    font-size: 16px;
    margin: 15px 0
}

#tools h5 {
    font-size: 14px;
    margin: 20px 0 10px;
    font-weight: bold
}

#tools .collapse-icon {
    background-position: -12px -63px;
    position: absolute;
    right: 13px;
    top: 11px;
    height: 27px;
    width: 28px
}

#tools .collapse-icon.expanded {
    background-position: -51px -63px
}

#tools .browernav a {
    display: block;
    padding: 15px 0 15px 30px
}

#tools .browernav a.selected, #tools .browernav a:hover {
    background-color: #d3d8dd;
    text-decoration: none
}

#tools .sections {
    padding: 10px 60px
}

#tools .sections .section {
    margin-bottom: 10px
}

#tools .onemethod {
    width: 330px;
    float: left;
    margin-right: 100px
}

#tools .methods {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #e8eaec;
    margin-bottom: 30px
}

#tools p {
    font-size: 14px
}

#tools .answer {
    margin-bottom: 10px
}



@media (max-width: 1000px) {
    .header-inner, .landing-bg {
        width: 800px
    }

    .landing-bg .desc {
        left: 70%
    }
}

.split-line {
    margin: 10px 0
}

.folder {
    display: block;
    padding: 7px 0 7px 60px;
    background: url(../img/v2/mass-folder.png) 29px 8px no-repeat;
    font-size: 13px;
    color: #666;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative
}

.folder.selected, .folder:hover {
    background: url(../img/v2/mass-folder-hover.png) 29px 8px no-repeat #fff
}

.folder:hover .close {
    display: block
}

.folder .close {
    display: none;
    top: 6px;
    font-size: 12px;
    font-weight: bold
}

.folder-create {
    padding: 0 0 0 30px;
    cursor: pointer;
    font-size: 13px
}

.folder-create i {
    background-position: -208px 5px;
    width: 15px;
    height: 20px;
    margin-right: 12px
}

.folder-create:hover {
    cursor: pointer
}

.folder-list {
    margin: 20px 0 0 0
}

.more {
    cursor: pointer
}

.read img, .unread img {
    position: absolute;
    left: 28px
}

.like img {
    position: absolute;
    left: 25px
}

.category a:hover {
    background-color: #ffffff
}

.share {
    text-align: left;
    overflow: hidden;
    display: block !important;
    height: 16px !important;
    line-height: 16px !important;
    padding-left: 20px !important;
    background: url(../img/v2/share.png) no-repeat left;
    cursor: pointer;
    float: right
}

.share:hover {
    opacity: 0.8
}

.share.weibo {
    background-position: 0px -96px
}

.share.qq {
    background-position: 0px -64px
}

.share.douban {
    background-position: 0px -560px
}

.share.renren {
    background-position: 0px -160px
}

.third-parties {
    display: none
}

.login-bind-tp {
    margin: -5px 0 30px 0
}

.login-bind-tp em {
    padding: 1px 8px
}

.login-bind-tp li {
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer
}

.login-bind-tp li a {
    text-align: center;
    display: block;
    color: white;
    padding: 12px 30px 12px 0
}

.login-bind-tp .qweibo {
    background-color: #3671d2;
    border: 1px solid #136ac1;
    border-radius: 3px;
    margin: 10px 0 25px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    text-shadow: 0 1px 0 #1a64bf;
    cursor: pointer;
    text-align: left;
    background-color: #369ad2
}

.login-bind-tp .qweibo em {
    background: url(/static/img/tp/qq_logo.png) no-repeat
}

.login-bind-tp .sina {
    background-color: #b9e6eb;
    border: 1px solid #c12f13;
    border-radius: 3px;
    margin: 10px 0 25px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    text-shadow: 0 1px 0 #921414;
    cursor: pointer;
    text-align: left;
    background-color: #d6514b
}

.login-bind-tp .sina em {
    background: url(/static/img/tp/sina_logo.png) no-repeat
}

.login-bind-tp .douban {
    border: 1px solid #54c113;
    border-radius: 3px;
    margin: 10px 0 25px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    text-shadow: 0 1px 0 #921414;
    text-align: left;
    background-color: #41a41a
}

.login-bind-tp .douban em {
    background: url(/static/img/tp/douban_logo.png) no-repeat
}


.login_btn{
    width: 302px;
}
.login_btn_forget{
    margin-bottom: 10px;
}
.login_regist{
    padding: 9px 9px 9px 9px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    color: #333;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    padding: 4px 6px;
    margin-bottom: 14px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}