<!-- 退换货腾讯爱逛订单信息模板 -->
<thead>
	<tr class="tr_no">
		<th width="40%" class="td_padd tr_left">商品名称</th>
			<th width="20%">数量</th>
			<th width="40%">售后</th>
	</tr>
</thead>

<!--订单列表 -->

{{#each data}}
<tr class="tr_no tr_left">
	<td class="td_padd">支付时间：{{payTimeStr}}</td>
	
	{{#if expire}}
	<td>订单编号：{{orderNum}}</td>
	<td class="expire"><span>您已错过了申请售后时间(交易完成15天内)，</span><span>退换货请联系客服。</span></td>
	{{else}}
	<td colspan='2'>订单编号：{{orderNum}}</td>
	{{/if}}
</tr>
{{#products}}
<tr class="order_cont tr_no">
	
	<td class="text-left td_padd">
	  <img class="goods-img" src="{{image}}" width="50" height="50">
	  
	  <span class="goods-text">{{userId}}</span>
	</td>
	<td>{{#if num}}×{{num}}{{else}}× 1{{/if}}</td>
	{{#if ../productReturnExchangeRight}}
	<td class="border_r">{{#if isReturn}}已申请{{servieType}}:{{verifyStatus}}<a href={{toStatusUrl}}>退换详情</a>{{else}}<a href={{toStatusUrl}}>{{servieType}}</a>{{/if}}</td>
	{{else}}
	<td class="border_r">
		退货/换货
	</td>
	{{/if}}
{{/products}}	
{{/each}}
	
</tr>




