{{#if data.lepao}}
{{else}}
 <h4>请输入以下验证信息：</h4>
    <div class="form-field">
	<form id="valid-form" class="form-inline">
		{{#if data.tengxun}}
		<div class="form-group">
		  <label class="label-filed" for="qq">QQ号: </label>
		<input type="text" name="qq" class="text-input number-require" value="" placeholder="" style="width: 85px;"> 
		</div>
		<div class="form-group">
		  <label for="txOrderId">订单号: </label>
		  <input type="text" name="txOrderId" class="text-input " data-type="order-id" value="" placeholder="" style="width: 80px;"> 
		</div>
		<div class="form-group">
		  <label for="num">购买数量: </label> 
		  <input type="text" name="num" class="text-input number-require" value="" placeholder="" style="width: 30px;"> 
		</div>
		{{else}}
		<div class="form-group">
		  <label for="invoiceNo">发票号码: </label>
		  <input type="text" name="invoiceNo" data-type="order-id" class="text-input" value="" placeholder="" style="width: 120px;">
		</div>
		<div class="form-group">
		  <label for="num">购买数量: </label>
		  <input type="text" name="num" class="text-input number-require" value="" placeholder="" style="width: 120px;">
		</div>
		{{/if}}
		<div class="form-group"> 
			<button type="submit" class="btn btn-sm btn-primary">验 证</button>
		</div>
	</form>
	</div>
{{/if}}