<div id="dialog" class="animation-slidedown invoice-dialog">
  <div class="dialog-content">
    <div class="dialog-header brand-head">
      <button type="button" class="close">×</button>
      <h4 class="dialog-title text-center">免费领取手环腕带</h4>
    </div>
    <div class="dialog-body">
      <p class="text-center">您现在共可领<span class="band-amount">0</span>条腕带</p>
      <hr>
        
      <div class="check-invoice-header btn-group btn-group btn-group-sm btn-group-toggle dialog-full-bar">
        <button type="button" class="btn btn-default active" data-type="lepao" >乐跑官网</button>
        <button type="button" class="btn btn-default" data-type="tengxun" >腾讯</button>
        <button type="button" class="btn btn-default" data-type="jingdong" >京东商城</button>
      </div>
      <div class="check-invoice-body">
        <div id="check-form"  class="check-panel">
          <!-- 抽出 -->
         

            <!-- <form action="#" id="valid-form">
              <input type="text" name="telephone" class="text-input" value="" placeholder="QQ帐号" style="width: 110px;"> -
              <input type="text" name="telephone" class="text-input" value="" placeholder="订单号" style="width: 140px;"> -
              <input type="text" name="telephone" class="text-input" value="" placeholder="购买数量" style="width: 110px;"> - 
              <button type="button" class="btn btn-sm btn-primary">验证</button>
              <p class="alert alert-error" style="display: block;">错误信息：！</p>
            </form> -->
          </div>
          <div class="check-result">
            <!-- 抽出 -->
            <!-- <table class="table">
              <thead>
                <tr>
                  <th>已支付订单</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>GT456789032432</td>
                  <td><small class="band-amount">5</small>条腕带</td>
                  <td class="accessable">可领取</td>
                </tr>
                 <tr>
                  <td>GT456789032432</td>
                  <td><small class="band-amount">5</small>条腕带</td>
                  <td class="forbidden">已使用</td>
                </tr>
                
              </tbody>
            </table>
             -->
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-footer text-center">
      <button type="button" class="btn  positive_btn ">下一步</button>
    </div>
  </div>