
<div class="newBar">
          <p class="news_name">{{data.post.title}}</p>
          <a class="ReturnBtn" href="/index.html">首页</a>
        </div>
        <div class="news_con">
            <p>
            {{{data.post.content}}}
        	</p>
</div>