
<!-- 订单状态 -->
<div class="section-heading">
	<span class="heading_return_exchange">订单号：{{orderNum}}</span> <span class="status"><b>当前状态：{{statusName}}</b></span>
</div>
<div class="order-state clearfix">
	{{#each statusList}}
	<div class="{{className}}">
		{{#if pointTag}}
		<span class="icon-bus"></span>
		{{/if}}
		<div class="state-wrapper">
			<p class="state-text">{{status}}</p>
			<p class="state-date">
				{{createTime}}<br>
				{{clockTime}}
			</p>
		</div>
	</div>
	{{/each}}	

	<!-- 	{{#if order}}
		<div class="submit-order">
	<div class="state-wrapper">
		<p class="state-text">提交订单</p>
		<p class="state-date">
			{{createTime}}<br>
			{{clockTime}}
		</p>
	</div>
		</div>
	
		<div class="payment-success">
	
	<div class="state-wrapper">
		<p class="state-text">{{statusName}}</p>
		<p class="state-date">
			{{payTime}}
		</p>
	</div>
		</div>
	{{/if}}
	{{#if ship}}
		<div class="ship-goods">
	<span class="icon-bus"></span>
	<div class="state-wrapper">
		<p class="state-text">商品出库</p>
		<p class="state-date">
			{{shipTime}}
		</p>
	</div>
		</div>
	{{/if}}
		{{#if status-receipt}}
		<div class="wait-receipt">
	<span class="icon-bus"></span>
	<div class="state-wrapper">
		<p class="state-text">等待收货</p>
		<p class="state-date">
			{{receiptTime}}
		</p>
	</div>
		</div>
	{{/if}}
	
		{{#if status-complete}}
		<div class="order-complete">
	<span class="icon-gift"></span>
	
	<div class="state-wrapper">
		<p class="state-text">完成</p>
		<p class="state-date">
			{{completeTime}}
		</p>
	</div>
		</div>
		{{/if}} -->
</div>