
<!-- 物流信息 -->
<!-- <div class="section-heading">
	<span class="heading">物流信息</span>
</div> -->
<div class="inner">
	<div class="indent2em">
	<div class="ave3">
		<div class="sub">
			<span><b>发货方式：</b>快递</span>
		</div>
		<div class="sub">
			<span><b>物流公司：</b>{{com}}</span>
		</div>
		<div class="sub">
			<span><b>运单号码：</b>{{nu}}</span>
		</div>
	</div>
	<div>
		<p>
			<b>物流跟踪：</b>
		</p>
		<div class="indent2em">
			{{#each data}}
				<p>{{time}} {{context}}</p>
			{{/each}}
		</div>
	</div>
		</div>
	
</div>
