<!-- 订单详情 -->
<div class="inner-block">
	<p class="info">
		<b>收货人信息：</b>
	</p>
	<div class="indent2em">
		<p>收 货 人：{{address.realName}}</p>
<!-- 		"street":"朝阳区天辰东路7号国家会议中心北区四层","province":"北京","city":"北京市"
		 -->		
		<p>地 址：{{#if address.detail}}{{address.detail}}{{else}}{{address.province}}{{address.city}}{{address.street}}{{/if}}</p>
		<p>固定电话：-{{address.telephone}}</p>
		<p>手机号码：{{address.mobile}}</p>
	</div>
</div>

<div class="inner-block">
	<p class="info">
		<b>支付及配送方式：</b>
	</p>
	<div class="indent2em">
	<p>支付方式：{{payTypeName}}</p>
		<p>运 费：￥{{freight}}</p>
		<p>送货日期：{{deliveryTimeTypeName}}</p>
		{{#if coupon}}
		<p>优惠码：{{coupon.couponNum}}(优惠{{coupon.discountAmount}}元)</p>
		{{/if}}
	</div>
</div>
{{#if invoice}}
<div class="inner-block">
	<p>
		<b>发票信息：</b>
	</p>
	<div class="indent2em">
		<p>发票类型：{{invoice.invoiceTypeName}}</p>
		{{#if invoice.title}}
		<p>发票抬头：{{invoice.title}}</p>
		{{/if}}
		<p>发票内容：所购商品详单</p>
	</div>
</div>
{{/if}}