<!-- 支付页面订单明细 -->
<p class="p1 fontBold">订单号：{{order.id}}</p>
<p class="p1 fontBold">金额：{{order.sumAmount}}元</p>
<p class="p1 fontBold">配送信息：</p>
<p class="p2 ">姓名：<span>{{address.realName}}</span></p>
<p class="p2 "> 电话：<span>{{address.mobile}}</span> <span>{{address.telephone}}</span></p>
<p class="p2 ">地址：{{#if address.detail}}{{address.detail}}{{else}}<span>{{address.province}}</span><span>{{address.city}}</span><span>{{address.street}}</span> <span>{{/if}}（邮编：{{address.postalCode}}）</span>
</p>
