
            <ul>
            {{#each data.posts}}
              <li><a class="newTit" href="news_con.html?id={{id}}">{{title}}</a><span class="newDate">{{date}}</span></li>
            {{/each}}
            </ul>
    <!---分頁--->
<div class="pagination-outer">
    <div id="pagination">
        <span><a href="javascript:void(0);" id="news_first">最前</a></span>
        <span><a href="javascript:void(0);" id="news_pre">&lt;上一页</a></span>
        <span><b id="nowPageShow">{{page}}</b></span> <span><a href="javascript:void(0);" id="news_next">下一页&gt;</a></span>
        <span><a href="javascript:void(0);" id="news_end">最后</a></span>
    </div>
    <div id="pageShow">
        <p>第<span class="current-page" id="currentPage">{{page}}</span>页，共<span class="current-page" id="pageCount">{{data.pages}}</span>頁</p>
    </div>
</div>
<!---分頁--->
    