<!--商品列表 -->
{{#each data.productReturnList}}
{{#if checkStatus}}
{{else}}
<tr class="proRow" data-pid={{productId}} cid={{categoryId}}>
	<td rowspan='3'>
		<input type="checkbox" data-pid={{productId}} num={{num}} name="check-field" class="check-wristStrap"/>
	</td>
	<td rowspan='3'>
		<img class="goods-img" src={{image}} width="50" height="50"><span class="goods-text">{{name}}</span>
	</td>
	{{#if categoryId}}
	<td>
		<input type="checkbox" data-pid={{productId}} name="check-field" class="check-band"/><span class="goods-text">腕带</span>
	</td>
	{{else}}<td rowspan="3"></td>
	{{/if}}
	{{#if categoryId}}
	<td>
		<ul class="clor">
			<li data-Rpid="1007">
				<span class="colorTag" style="background:#3a8dcd;">海洋蓝</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{blueNum}} type="text" data-pid={{productId}} data-Rpid="1007" name="textfield" id="textfield" readonly="readonly"/>
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1008">
				<span class="colorTag" style="background:#262626">玄墨黑</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{blackNum}} type="text" data-pid={{productId}} data-Rpid="1008" name="textfield" id="textfield" readonly="readonly" />
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1009">
				<span class="colorTag" style="background:#71ad48">浅草绿</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{greenNum}} type="text" data-pid={{productId}} data-Rpid="1009" name="textfield" id="textfield" readonly="readonly" />
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1010">
				<span class="colorTag" style="background:#f83380">玫瑰红</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{redNum}} type="text" data-pid={{productId}} data-Rpid="1010" name="textfield" id="textfield" readonly="readonly"/>
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1011">
				<span class="colorTag" style="background:#ead464">柠檬黄</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{yellowNum}} type="text" data-pid={{productId}} data-Rpid="1011" name="textfield" id="textfield" readonly="readonly" />
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1012">
				<span class="colorTag" style="background:#886599">樱桃紫</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{purpleNum}} type="text" data-pid={{productId}} data-Rpid="1012" name="textfield" id="textfield" readonly="readonly" />
				 	<span class="icon_Plus"></span>
				</div>
			</li>
		</ul>
	</td>
	{{else}}
	<td rowspan="3">
		<ul class="clor">
			<li data-Rpid="1007">
				<span class="colorTag" style="background:#3a8dcd;">海洋蓝</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{blueNum}} type="text" data-pid={{productId}} data-Rpid="1007" name="textfield" id="textfield" readonly="readonly"/>
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1008">
				<span class="colorTag" style="background:#262626">玄墨黑</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{blackNum}} type="text" data-pid={{productId}} data-Rpid="1008" name="textfield" id="textfield" readonly="readonly"/>
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1009">
				<span class="colorTag" style="background:#71ad48">浅草绿</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{greenNum}} type="text" data-pid={{productId}} data-Rpid="1009" name="textfield" id="textfield" readonly="readonly"/>
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1010">
				<span class="colorTag" style="background:#f83380">玫瑰红</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{redNum}} type="text" data-pid={{productId}} data-Rpid="1010" name="textfield" id="textfield" readonly="readonly"/>
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1011">
				<span class="colorTag" style="background:#ead464">柠檬黄</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{yellowNum}} type="text" data-pid={{productId}} data-Rpid="1011" name="textfield" id="textfield" readonly="readonly"/>
				 	<span class="icon_Plus"></span>
				</div>
			</li>
			<li data-Rpid="1012">
				<span class="colorTag" style="background:#886599">樱桃紫</span>
				<div class="quantity-container">
				 	<span class="icon_Minus"></span>
				 	<input class="Quantity quantity-field band" value={{purpleNum}} type="text" data-pid={{productId}} data-Rpid="1012" name="textfield" id="textfield" readonly="readonly"/>
				 	<span class="icon_Plus"></span>
				</div>
			</li>
		</ul>
	</td>
	{{/if}}
	<td rowspan='3'>
		<p>本产品7天包退，15天包换</p>
	</td>
</tr>
<tr data-pid={{productId}}>
	{{#if categoryId}}
	<td data-Rpid="1025">
		<input type="checkbox" data-pid={{productId}} data-Rpid="1025" name="check-field" class="check-parts"/><span class="goods-text">机芯</span>
	</td>
	<td class="parts">
		<div class="quantity-container">
		 	<span class="icon_Minus"></span>
		 	<input class="Quantity quantity-field core" value={{coreNum}} type="text" data-pid={{productId}} data-Rpid="1025" name="textfield" id="textfield" readonly="readonly"/>
		 	<span class="icon_Plus"></span>
		</div>
	</td>
	{{/if}}
	
</tr>
<tr data-pid={{productId}}>
	{{#if categoryId}}
	<td data-Rpid="1027">
		<input type="checkbox" data-pid={{productId}} data-Rpid="1027" name="check-field" class="check-parts"/><span class="goods-text">USB充电器</span>
	</td>
	<td class="parts">
		<div class="quantity-container">
		 	<span class="icon_Minus"></span>
		 	<input class="Quantity quantity-field usb" value={{usbNum}} type="text" data-pid={{productId}} data-Rpid="1027" name="textfield" id="textfield" readonly="readonly"/>
		 	<span class="icon_Plus"></span>
		</div>
	</td>
	{{/if}}	
</tr>
{{/if}}
{{/each}}
