<!--商品列表 -->
{{#each data.productReturnList}}
{{#if checkStatus}}
{{else}}
<tr class="proRow" data-pid={{productId}} cid={{categoryId}}>
	<td>
		<input type="checkbox" data-pid={{productId}} name="check-field" class="check-wristStrap-R"/>
	</td>
	<td>
		<img class="goods-img" src={{image}} width="50" height="50"><span class="goods-text">{{name}}</span>
		{{#if categoryId}}
		<div><span>退货物品：腕带、机芯、USB充电器</span></div>
		{{/if}}
	</td>
	<td>
		<div class="quantity-container">
		 	<span class="icon_Minus mR"></span>
		 	<input class="Quantity quantity-field band" value={{num}} type="text" data-pid={{productId}} name="textfield" id="textfield" readonly="readonly"/>
		 	<span class="icon_Plus"></span>
		</div>
	</td>
	<td>
		<p style="margin: auto;">本产品7天包退，15天包换</p>
	</td>	
</tr>
{{/if}}
{{/each}}
