<!-- 审核状态退换货信息模板 -->
<div class="section-heading">
	<div class="heading_RE conf">
		{{#data.productReturn}}
		<span class="re_number">{{serviceTypeString}}编号：</span><span>{{returnId}}</span>
		{{/data.productReturn}}
	</div> 
</div>

<div class="re_info">
	<table class="re_order_info" border="0" cellspacing="0" cellpadding="0">
	{{#data.address}}
		<tr class="customer_info">
			<td class="att">姓名：</td>
			<td class="val">{{realName}}</td>
			{{#if mobile}}
			<td class="att">手机号：</td>
			<td class="val">{{mobile}}</td>
			{{else}}
			<td class="att">电话：</td>
			<td class="val">{{telephone}}</td>
			{{/if}}
			<td class="att mail">邮箱：</td>
			<td class="val">{{../data.user.email}}</td>
		</tr>
		<tr>
			<td class="att">收货地址：</td>
			<td colspan=5>{{addressStr}}</td>
		</tr>
		{{/data.address}}
		<tr></tr>
		{{#data.productReturn}}
		<tr>
			<td class="att">购买渠道：</td>
			<td class="val">{{buyChannelStr}}</td>
			<td class="att">订单号：</td>
			<td class="val">{{orderId}}</td>
		</tr>
		<tr>
			<td class="att">申请服务：</td>
			<td class="val">{{serviceTypeString}}</td>
		</tr>
		<tr></tr>
		<tr>
			{{#if serviceTypeStatus}}
			<td colspan="6">选择的商品换为：</td>
			{{else}}
			<td colspan="6">选择的退货商品为：</td>
			{{/if}}
		</tr>
		{{/data.productReturn}}
	</table>
	<table id="product_details" border="1" cellspacing="0" cellpadding="0">
		<tr>
			<td class="thead"><span>商品信息</span></td>
			<td class="thead"><span>数量(个)</span></td>	
		</tr>
		{{#data.productItemList}}
		<tr>
			<td>{{productName}}</td>
			<td>{{num}}</td>
		</tr>
		{{/data.productItemList}}
		
	</table>
	{{#data.productReturn}}
	<div class="ver_detail">
		<span class="tips" style="margin-left: 200px;">（配件换过之后15天之内还可以换）</span>
		<span>申请理由：</span><span class="reason">{{returnReason}}</span>
	</div>
	<div class="imag">
		<span>上传图片：</span>
		{{# imageUrlArray}}
		<img src={{simage}}} alt="商品图片" width="100" height="100"/>
		{{/ imageUrlArray}}
	</div>
	{{/data.productReturn}}
</div>

