{% extends './layout.swig' %}

{% block styles %}
    {% parent %}
    <link type="text/css" rel="stylesheet" href="/style/page.css"/>
    <style type="text/css">
        .float_right{
            float: right;
        }
        .right_margintop{
            margin-top: 20px;
        }
        .font_me{
            margin-left: 100px;
        }
        .font_me li{
            margin: 0 0 15px 0;
        }

        .btn_a{

        }
        .btn_a a:hover{
            text-decoration: none;
        }
        .input_label{
            margin-top: 6px;
        }
    </style>
{% endblock %}

{% block right %}
<div class="circle_left box">
    <div class="page-header-new"><h2>修改资料</h2></div>
    <div class="user-modify">
        <div class="user-content">
            <form method="post" action="/user/modify" enctype="multipart/form-data">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label">用户账号：</span>
                        <span>{{ user.username }}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">头像：</span>
                        <input name="avatar" class="text-input" style="margin-bottom:4px; width: 220px"
                               type="file">
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">用户昵称：</span>
                        <input name="nickname" class="text-input" style="margin-bottom:4px; width: 320px"
                               value="{{ user.nickname }}">
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">真实姓名：</span>
                        <input name="realname" class="text-input" style="margin-bottom:4px; width: 320px"
                               value="{{ user.realname }}">
                    </li>
                    <li class="list-group-item">
                        <span class="label">性别：</span>
                        <input type="radio" name="gender" value="male" {% if user.gender === 'male' %} checked {% endif %}/> 男
                        <input type="radio" name="gender" value="female" {% if user.gender === 'female' %} checked {% endif %}/> 女

                    </li>
                    <li class="list-group-item">
                        <span class="label">是否结婚：</span>
                        <input type="radio" name="married" value="married" {% if user.married === 'married' %} checked {% endif %}/> 已婚
                        <input type="radio" name="married" value="not married" {% if user.married === 'not married' %} checked {% endif %}/> 未婚
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">手机号码：</span>
                        <input name="phone" class="text-input" style="margin-bottom:4px; width: 320px"
                               value="{{ user.phone }}">
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">联系地址：</span>
                        <input name="address" class="text-input" style="margin-bottom:4px; width: 320px"
                               value="{{ user.address }}">
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">密码：</span>
                        <input name="password" type="password" class="text-input" style="margin-bottom:4px; width: 320px"
                               value="">
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">戒指号码：</span>
                        <input disabled class="text-input" style="margin-bottom:4px; width: 320px"
                               value="{{ user.number }}">
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">　</span>
                        <button type="submit" class="btn primary-btn" >确认修改</button>
                    </li>

                </ul>
            </form>

        </div>
    </div>
</div>
{% endblock %}