{% extends './layout.swig' %}

{% block styles %}
    {% parent %}
    <link type="text/css" rel="stylesheet" href="/style/page.css"/>
    <style type="text/css">
        .float_right{
            float: right;
        }
        .right_margintop{
            margin-top: 20px;
        }
        .font_me{
            margin-left: 100px;
        }
        .font_me li{
            margin: 0 0 15px 0;
        }

        .btn_a{

        }
        .btn_a a:hover{
            text-decoration: none;
        }
        .input_label{
            margin-top: 6px;
        }
    </style>
{% endblock %}

{% block right %}
<div class="circle_left box">
    <div class="page-header-new"><h2>发布文章</h2></div>
    <div class="user-modify">
        <div class="user-content">
            <form action="/post/" method="post" enctype="multipart/form-data">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label input_label">文章内容：</span>
                        <textarea name="content" class="text-input" style="margin-bottom:4px; width: 420px;height: 220px"></textarea>
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">图片：</span>
                        <input name="images" class="text-input" style="margin-bottom:4px; width: 420px"
                               type="file" multiple>
                    </li>
                    <li class="list-group-item">
                        <span class="label input_label">　</span>
                        <button type="submit" class="btn primary-btn" >立即发布</button>
                    </li>
                </ul>
            </form>

        </div>
    </div>
</div>
{% endblock %}
