	<div class="pagination-outer">
		<div id="pagination">
			<span><a id="{{pagerId}}_newest" href="javascript:;">最前</a></span>
			<span><a id="{{pagerId}}_previous" href="javascript:;">&lt;上一页</a></span>
			<span><b id="{{pagerId}}_nowPage">{{currentPage}}</b></span> 
			<span><a id="{{pagerId}}_next" href="javascript:;">下一页&gt;</a></span>
			<span><a id="{{pagerId}}_oldest" href="javascript:;">最后</a></span>
		</div>
		<div id="pageShow">
			<p>第<span class="current-page" id="currentPage">{{currentPage}}</span>页，共<span class="current-page">{{pageCount}}</span>页</p>
		</div>
	</div>
